section#contact-us.layout-footer.gray-section
    .container
        .row
            .col-md-4.col-sm-6.col-xs-6
                h5.med-text.mb-20.mt-20 PARTNER COMPANIES
                ul.partner-list.p-0
                    li
                        a(href='https://www.webfactories.co.uk/', target='_blank') Webfactories
                    li
                        a(href='http://webriq.us', target='_blank') WebriQ
                    li
                        a(href='http://australia.buzzin.today/home', target='_blank') Buzzin Australia

            .col-md-4.col-sm-6.col-xs-6.office
                h5.med-text.mb-20.mt-20 OUR SALES OFFICES
                .eq-ui-collapsible-body
                        .eq-ui-collapsible-body-inner
                            p.name - Bob Wotherspoon
                            p - +44 7711 651633
                            p -&nbsp;
                                a(href='mailto:bob.wotherspoon@webfactories.co.uk', target='_blank')  bob.wotherspoon@webfactories.co.uk
                            p -&nbsp;
                                a(href='skype:bwotherspoon1?call')  Call me on Skype
                .social-media.mt-20
                  ul.dropdown.nav-navbar.p-0.navmenu-nav
                    li
                      a(href='https://www.facebook.com/Buzzin.North.Lanarkshire/', target='_blank')
                        svg#fb_1_(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='39.667px', height='39.5px', viewbox='0 0 39.667 39.5', enable-background='new 0 0 39.667 39.5', xml:space='preserve')
                          g#fb
                            g
                              path(fill='#3B5998', d='M38.804,19.796c0-10.478-8.492-18.97-18.97-18.97c-10.477,0-18.971,8.493-18.971,18.97\
                              c0,9.58,7.108,17.48,16.334,18.767v-13.97h-3.618v-4.848h3.618c0-0.533,0-1.438,0-2.946c0-5.707,5.916-6.473,5.916-6.473h5.984\
                              v4.872c0,0-3.896,0-5.289,0c-1.391,0-1.809,1.957-1.809,1.957v2.59h7.098L28.263,24.5h-6.334v14.145\
                              C31.419,37.601,38.804,29.564,38.804,19.796z')
                              path(fill='#FFFFFF', d='M28.263,24.5l0.834-4.755H22v-2.59c0,0,0.418-1.957,1.809-1.957c1.393,0,5.289,0,5.289,0v-4.872h-5.984\
                              c0,0-5.916,0.766-5.916,6.473c0,1.508,0,2.413,0,2.946h-3.618v4.848h3.618v13.97v0.111h0.801h3.673h0.258v-0.029V24.5H28.263z')

                    li
                      a(href='https://twitter.com/n_lanarkshire', target='_blank')
                        svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='39.667px', height='39.5px', viewbox='0 0 39.667 39.5', enable-background='new 0 0 39.667 39.5', xml:space='preserve')
                          g#twitter
                            circle(fill='#00abf1', cx='19.834', cy='19.831', r='18.97')
                            g
                              path(fill-rule='evenodd', clip-rule='evenodd', fill='#ffffff', d='M8.661,28.789c0.172,0.106,0.341,0.219,0.518,0.316\
                              c2.702,1.515,5.606,1.972,8.658,1.639c6.808-0.741,11.564-6.403,12.043-12.819c0.08-1.1,0.251-1.987,1.207-2.663\
                              c0.474-0.335,0.801-0.876,1.196-1.326c-0.028-0.023-0.058-0.045-0.086-0.068c-0.768,0.206-1.534,0.412-2.302,0.618\
                              c0.723-0.796,1.441-1.521,1.776-2.595c-0.77,0.306-1.474,0.583-2.177,0.864c-0.529,0.212-0.955,0.153-1.44-0.24\
                              c-1.525-1.237-3.27-1.421-5.03-0.634c-1.809,0.809-2.8,2.271-2.884,4.288c-0.017,0.402-0.001,0.805-0.001,1.268\
                              c-4.044-0.26-7.339-2.036-10.008-5.077c-1.22,2.036-0.777,4.166,1.242,6.533c-0.641-0.176-1.281-0.351-1.968-0.539\
                              c0.159,2.447,1.438,3.991,3.688,4.885c-0.623,0-1.246,0-1.963,0c0.827,2.113,2.339,3.145,4.524,3.433\
                              C13.506,28.259,11.208,28.877,8.661,28.789z')
                              path(fill-rule='evenodd', clip-rule='evenodd', fill='#ffffff', d='M8.661,28.789c2.547,0.088,4.845-0.53,6.993-2.117\
                              c-2.185-0.288-3.697-1.319-4.524-3.433c0.718,0,1.341,0,1.963,0c-2.25-0.894-3.529-2.438-3.688-4.885\
                              c0.687,0.188,1.327,0.363,1.968,0.539c-2.02-2.367-2.462-4.497-1.242-6.533c2.669,3.041,5.964,4.817,10.008,5.077\
                              c0-0.463-0.015-0.865,0.001-1.268c0.083-2.017,1.075-3.479,2.884-4.288c1.761-0.787,3.505-0.603,5.03,0.634\
                              c0.485,0.394,0.911,0.453,1.44,0.24c0.703-0.281,1.407-0.558,2.177-0.864c-0.335,1.074-1.054,1.799-1.776,2.595\
                              c0.768-0.207,1.534-0.413,2.302-0.618c0.028,0.022,0.058,0.045,0.086,0.068c-0.396,0.449-0.723,0.99-1.196,1.326\
                              c-0.956,0.676-1.127,1.563-1.207,2.663c-0.479,6.416-5.235,12.078-12.043,12.819c-3.052,0.333-5.956-0.124-8.658-1.639\
                              C9.002,29.008,8.833,28.896,8.661,28.789z')
                    li
                      a(href='https://slackin.webriq.com/', target='_blank')
                        svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='39.667px', height='39.5px', viewbox='0 0 39.667 39.5', enable-background='new 0 0 39.667 39.5', xml:space='preserve')
                          g#slack
                            circle(fill='#ffffff', cx='19.834', cy='19.831', r='18.97')
                            line(fill='none', stroke='#4CAF50', stroke-width='4', stroke-linecap='round', stroke-miterlimit='10', x1='20.957', y1='30.924', x2='10.172', y2='15.34')
                            line(fill='none', stroke='#e6b115', stroke-width='4', stroke-linecap='round', stroke-miterlimit='10', x1='29.495', y1='25.015', x2='18.711', y2='9.431')
                            line(fill='none', stroke='rgba(233,30,99,0.75)', stroke-width='4', stroke-linecap='round', stroke-miterlimit='10', x1='30.58', y1='19.056', x2='14.996', y2='29.838')
                            line(fill='none', stroke='rgba(3,169,244,0.75)', stroke-width='4', stroke-linecap='round', stroke-miterlimit='10', x1='24.67', y1='10.517', x2='9.087', y2='21.3')


            .col-md-4.col-sm-6.col-xs-6
                .webfactories_presentation
                    h5.med-text.mb-20.mt-20 PRESENTATIONS
                    ul.presentation-list.p-0
                        li
                            a.flip_broch(href='/flip_brochure/mobile/index.html', target='blank_')
                                img(src='../img/p-1.png', alt='')
                        li
                            a.slideshare_btn(href='http://www.slideshare.net/PhilippeBodart', target='blank_')
                                img(src='../img/p-2.png', alt='')
                        li
                            a.slides_btn(href='http://slides.com/webfactories', target='blank_')
                                img(src='../img/p-3.png', alt='')

                .blog-footer.mt-30
                    a.btn.active.hvr-ripple-out(href='/blog') 
                        img(src='./img/chat.png') 
                        | Visit Our Blog


#copyright
        .container
            p
                | All rights reserved!  2016. Powered by 
                a(href='https://www.webfactories.co.uk/', target='_blank') Webfactories - UK  |  
                a(href='/') Buzzin UK
                
    #cookieChoiceInfo(style='display: none;')
        | Cookies help us deliver our services. By using our services, you agree to our use of cookies.
        a(style='margin-left: 8px;', href='/cookies', target='_blank') learn more
        a#cookieChoiceDismiss(style='margin-left: 24px;', href='#') Got it


script(type="text/javascript", src="../js/webriq-bootstrap-material-ui.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js")
script(type="text/javascript", src="../js/cookies.js")
script(type="text/javascript", src="../js/scrolld.js")
script(type="text/javascript", src="../js/parallax.js")
script(type="text/javascript", src="../js/jquery.fadethis.js")
script(type="text/javascript", src="../js/jquery.drawsvg.js")
script(src="/js/plugins.min.js")
script(type="text/javascript", src="../js/custom.js")

script(src='https://cdn.slaask.com/chat.js')
script(type="text/javascript").
    _slaask.init('a2185cf7997e55eb9484fc90fe78066a');

script(type='text/javascript').
    $('.parallax-container').parallax({imageSrc: '../img/slide-parallax-webfac2.jpg'});

script.
    $(window).fadeThis({reverse:false,distance:100});

script.
    $(document).ready(function() {
    setTimeout(function(){
        $('body').addClass('loaded');
        $('h1').css('color','#222222');
    }, 3000);
    });