#paragraph-6983-container
    .header_bg.section
      .row
        .svg-earth-pattern
          img.animate-earth-small(src='img/slider-earth-pattern-small.png')
          img.animate-earth-large(src='img/slider-earth-pattern-large.png')
      .subtitle.col-md-12
        h1.title Shops
        p.lead "The Ultimate solution for your online business needs"
        .inquiry.text-center
          p YOUR OWN SHOPPING CART
          a.btn.btn-primary#signupfree.active.hvr-ripple-out(href='http://app.webriq.com/sites/create', target='_blank') Sign-up for FREE
