div#botpage
  .botpage.section.header_bg
    .container
      .row
        .svg-earth-pattern
          img.animate-earth-small(src='img/slider-earth-pattern-small.png')
          img.animate-earth-large(src='img/slider-earth-pattern-large.png')
      .subtitle.col-md-12
        h1.title.white-text Messaging BOT
        p.lead "With Artificial Intelligence (AI) for Facebook Messenger and Telegram"
        ul#bots_icons
         li.fb.hvr-float-shadow
              img(src="../img/botpage/messenger.png")
         li.teleg.hvr-float-shadow
              img(src="../img/botpage/telegram.png")
         li.slack.hvr-float-shadow
              img(src="../img/botpage/slack.png")
         li.skyp.hvr-float-shadow
              img(src="../img/botpage/skype.png")
        //- p.button-down
        //-   a#botsecBtn.botpagespec(href='#')
        //-     img(src='../img/botpage/slider-down-arrow.png', alt='')
