.e-commerce.section
      .container
        .row
          .svg-earth-pattern
            img.animate-earth-small(src='img/slider-earth-pattern-small.png')
            img.animate-earth-large(src='img/slider-earth-pattern-large.png')
        .subtitle.col-md-12
          p#general-title-p.lead "We enhance the online credibility of your business"
