#paragraph-8591-container
    .header_bg.section
      .container
        .row
          .svg-earth-pattern
            img.animate-earth-small(src='img/slider-earth-pattern-small.png')
            img.animate-earth-large(src='img/slider-earth-pattern-large.png')
        .subtitle.col-md-12
          h1.title We enhance the online
          p.lead credibility of your business

