.container
  .row
    .col-md-12
      a(href='/')
        img(src=records.site.sitedata[0].logo)
      .pull-right.top_menu
          svg#svg_menu.drawsvg_line.drawsvg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='59px', height='59px', viewbox='0 0 59 59', enable-background='new 0 0 59 59', xml:space='preserve')
            path(fill='none', stroke='#039BE5', stroke-width='2', stroke-miterlimit='10', d='M57.835,29.5c0,15.418-12.499,27.918-27.917,27.918\
            S2,44.918,2,29.5C2,14.083,14.5,1.583,29.917,1.583C45.336,1.583,57.835,14.083,57.835,29.5z')
            g(fill='none', stroke='#039BE5', stroke-width='2', stroke-linecap='round', stroke-miterlimit='10')
              path.stroke_white(d='M13.333,18.667h33.001')
              path.stroke_white(d='M46.334,29.5H13.333')
              path.stroke_white(d='M13.333,39.75h33.001')
          button(type="button", class="hamburger button  nav_handle_push_right")
          #nav-icon1.hided
            span
            span
            span