.container
  .row
    .col-md-3.col-sm-3.hidden-xs
      a(href='/')
        img(style="max-width:100%", src=records.site.sitedata[0].logo)
    .col-md-6.col-sm-6.col-xs-12
      #carousel-example-generic.carousel.slide.carousel-top(data-ride='carousel')

        .carousel-inner(role='listbox')
          .item.active
            a(href="https://www.gascert.co.uk/", target="_blank")
              img(src='./img/gascert-advert.png', alt='...')
          .item
            a(href="https://www.gascert.co.uk/", target="_blank")
              img(src='./img/gascert-advert.png', alt='...')

    .col-md-3.col-sm-3.col-xs-12.text-right
      a.hidden-sm.hidden-md.hidden-lg(href='/')
        img(style="max-width:100%", src=records.site.sitedata[0].logo)

      a.hidden-xs(href='https://www.webfactories.co.uk/', target="_blank")
          img(style="max-width:100%", src='./img/webfactoriesuk-logo.png')

          