extends general_custom

block content

  #botsec.partners.botpagespec.pt-50.pb-50.mt-10
      .container
        .row
          .col-xs-12.col-sm-12.col-md-7.pull-left
            .partners.botpagespec-det.text-left.mt-20.mb-40
              .row
                .col-sm-12
                  .row
                    .col-xs-3.col-sm-3.thumb
                      img(src='../img/botpage/message-icon.jpg', alt='')
                    .col-xs-9.col-sm-12.details.bot1
                      h3.bot_ttle
                        | Messaging BOT with Artificial Intelligence (AI) for Facebook Messenger and Telegram
                      p
                        | Speaking to investors Facebook chief executive 
                        strong Mark Zuckerberg
                        |  described bots as a way to increase the speed and efficacy of interactions between users and businesses on the Messenger platform. For instance, people already message businesses via their pages on Facebook, but need to wait for a reply — what Zuckerberg described as “latency.” With bots you get an immediate and intelligent interaction.
                      .AI-
                        .col-sm-7
                          p
                            strong Artificial intelligence
                            |  will play a central role in harvesting and mining the conversations between businesses and Messenger’s 900 million monthly active users. AI will help automate responses for users.
                        .col-sm-5
                          img(src='../img/botpage/AI.jpg', alt='')
                .col-sm-12.sec-secbot
                  .row
                    .col-xs-3.col-sm-3.thumb
                      img(src='../img/botpage/bot-icon.jpg', alt='')
                    .col-xs-9.col-sm-12.details.bot2
                      h3.bot_ttle BOTS are the NEW APPS
                      .bot-new-apps.row
                        .col-xs-6.col-sm-6.imgbot
                          img(src='../img/botpage/bot-newapps1.jpg', alt='')
                        .col-xs-6.col-sm-6.detbot
                          h3 Be where your users are
                          p
                            strong Messengers
                            |  are already bigger than
                          p
                            strong social networks
                            |  (Business Insider*).
                      .bot-new-apps.row
                        .col-xs-6.col-sm-6.detbot.txtright
                          h3 Great retention
                          p It is easier to get loyal users due to
                          p native interface and ease of use.
                        .col-xs-6.col-sm-6.imgbot
                          img(src='../img/botpage/bot-newapps2.jpg', alt='')
                      .bot-new-apps.row
                        .col-xs-6.col-sm-6.imgbot
                          img(src='../img/botpage/bot-newapps3.jpg', alt='')
                        .col-xs-6.col-sm-6.detbot
                          h3 Easy to get in touch
                          p No need to download and update
                          p apps or collect emails.
          .col-xs-12.col-sm-12.col-md-4.pull-right
            #crmWebToEntityForm.form-div(style='margin: auto;')
              meta(http-equiv='content-type', content='text/html;charset=UTF-8')
              form(action='https://crm.zoho.com/crm/WebToLeadForm', name='WebToLeads493666000001258001', method='POST', onsubmit='javascript:document.charset="UTF-8"; return checkMandatory()', accept-charset='UTF-8')
                // Do not remove this code.
                input(type='text', style='display:none;', name='xnQsjsdp', value='6bf1e200f8e911b8a9c759bda361ffef16e08961adbc2d271505b03fa7a17503')
                input#zc_gad(type='hidden', name='zc_gad', value='')
                input(type='text', style='display:none;', name='xmIwtLD', value='db88ed8f7547f4926e808dca82347873db9f00abd2738fe61142c992136ec146')
                input(type='text', style='display:none;', name='actionType', value='TGVhZHM=')
                input(type='text', style='display:none;', name='returnURL', value='https://webfactories.biz')
                // Do not remove this code.
                .zoho-form
                    .form-holder
                      h3 WebriQ Account Request
                    .form-holder
                      .form-label.f1
                        | Full Name
                        span(style='color:red;') *
                      .form-input.fr
                        input(style='width: 250px;', maxlength='80', name='Last Name', type='text')
                    .form-holder
                      .form-label.f1
                        | Company Name
                        span(style='color:red;') *
                      .form-input.fr
                        input(style='width: 250px;', maxlength='100', name='Company', type='text')
                    .form-holder
                      .form-label.fl Company Location
                      .form-input.fr
                        input(style='width: 250px;', maxlength='30', name='Country', type='text')
                    .form-holder
                      .form-label.fl Size of the Company
                      .form-input.fr
                        input(style='width: 250px;', maxlength='9', name='No of Employees', type='text')
                    .form-holder
                      .form-label.fl
                        | Email Address
                        span(style='color: red;') *
                      .form-input.fr
                        input(style='width: 250px;', maxlength='100', name='Email', type='text')
                    .form-holder
                      .form-label.fl Telephone Number
                      .form-input.fr
                        input(style='width: 250px;', maxlength='30', name='Phone', type='text')
                    .form-holder
                      .form-label.fl
                        | Website
                        span(style='color: red;') *
                      .form-input.fr
                        input(style='width: 250px;', maxlength='255', name='Website', type='text')
                    .form-holder
                      .form-textarea.fl
                        | Why are you interested in our services 
                      .form-input.fr
                        textarea(style='width: 250;', maxlength='1000', name='Description')  
                    .form-holder
                      .form-label.fl
                        | What are your challenges as a web service provider
                      .form-input.fr
                        input(style='width: 250px;', maxlength='20', name='LEADCF2', type='text')
                    .form-holder
                      a.btn.btn-primary.eq-ui-waves-light
                        input(type='submit', value='Submit')
                      a.btn.btn-primary.eq-ui-waves-light
                        input(type='reset', value='Reset')
                script.
                  var mndFileds=new Array('Company','Last Name','Email','Website');
                  var fldLangVal=new Array('Company Name','Full Name','Email Address','Website');
                  var name='';
                  var email='';
                  function checkMandatory() {
                  for(i=0;i<mndFileds.length;i++) {
                  var fieldObj=document.forms['WebToLeads493666000001258001'][mndFileds[i]];
                  if(fieldObj) {
                  if (((fieldObj.value).replace(/^\\s+|\s+$/g, '')).length==0) {
                  if(fieldObj.type =='file')
                  {
                  alert('Please select a file to upload');
                  fieldObj.focus();
                  return false;
                  }
                  alert(fldLangVal[i] +' cannot be empty');
                  fieldObj.focus();
                  return false;
                  }  else if(fieldObj.nodeName=='SELECT') {
                  if(fieldObj.options[fieldObj.selectedIndex].value=='-None-') {
                  alert(fldLangVal[i] +' cannot be none');
                  fieldObj.focus();
                  return false;
                  }
                  } else if(fieldObj.type =='checkbox'){
                  if(fieldObj.checked == false){
                  alert('Please accept  '+fldLangVal[i]);
                  fieldObj.focus();
                  return false;
                  }
                  }
                  try {
                  if(fieldObj.name == 'Last Name') {
                  name = fieldObj.value;
                  }
                  } catch (e) {}
                  }
                  }
                  }


    .botpage-nav-experience
      .container
        .row
          .col-xs-12.col-sm-12.nav-exp1
            .nav1
              h3 Link your content to create a rich navigation experience
              img.nav-img1(src='../img/botpage/navigation-exp.jpg', alt='')
            .nav2
              img.nav-img2(src='../img/botpage/arrow-down.jpg', alt='')
              h3
                | Use the power of AI to understand
                br
                | and respond to user requests
              img.nav-img3(src='../img/botpage/bot-request.jpg', alt='')

    .botpage-suppport-funct
      .container
        .row
          .col-xs-12.col-sm-12.supp-funct-1
            .supp1
              h3
                | Integrate Lead generation Forms and
                br
                | Support Tickets in to your BOT
              img.nav-img1(src='../img/botpage/support-funct.jpg', alt='')
            .supp2
              a(href='https://www.messenger.com/t/webriqHQ', target='_blank')
                img(src='../img/botpage/btn-arrow.jpg', alt='')
                | LEARN MORE

    .follow-us-on
      .container
        .row
          .col-xs-12.col-sm-12.follow-1
            .follow-sec
              .supp1
                h3
                  | Follow us on Facebook Messenger
                  br
                  |  and Telegram
              .supp2
                .social.row
                  .col-xs-4.col-sm-4
                    a(href='https://www.messenger.com/t/webriqHQ')
                      img(src='../img/botpage/webriq-icon.png', alt='')
                    p
                      | Fb Messenger
                      br
                      | WebriQ
                  .col-xs-4.col-sm-4
                    a(href='https://messaging.buzzin.today/#/login?p=@Buzzinbrisbane_bot')
                      img(src='../img/botpage/buzzin-brisbane.png', alt='')
                    p
                      | Telegram
                      br
                      | Buzzin Brisbane
                  .col-xs-4.col-sm-4
                    a(href='https://messaging.buzzin.today/#/login?p=@BuzzinScotland_bot')
                      img(src='../img/botpage/buzzin-scotland.png', alt='')
                    p
                      | Telegram
                      br
                      | Buzzin Scotland
