extends layout

block content

  #half-grid.gray-section
    .container.responsive-web
      .row
        .col-sm-6.col-md-6.col-left
          .row.mb-30
            .col-md-12
              h1.navy-text.heading-1 Unique Customer Approach
          .row
            .col-md-12
              p.light-text
                | Today’s small businesses have more web and digital marketing options then ever before. Analytics are ever more powerful, automation is ever far reaching, and targeting is ever more precise. With that power has come increasing complexity and confusion for a lot of companies, especially for SME’s.
          .row.mb-10
            .col-md-12
              p.light-text
                | Together we make the marketing job less lonely.  With a set of well-defined Templates we plan and deliver
              ul#unique-approach-list.circle-check-blue.light-text.p-0
                li Web and Digital Marketing Strategy
                li Build-up of all digital assets
                li Analyze and track all digital assets over the entire service period
                li Recommend enhanced web and digital marketing strategies to further grow the business and the customer base

        .col-md-1
        .col-sm-6.col-md-5.col-right.mb-50.mt-50
          #modern-tech
            svg#phone(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='345px', height='667.093px', viewbox='0 0 345 667.093', enable-background='new 0 0 345 667.093', xml:space='preserve')
              g(fill='none', stroke='#ffffff', stroke-width='1.5', stroke-miterlimit='10')
                path(d='M179.316,44.951\
                c-1.344,3.326-5.129,4.934-8.458,3.59c-3.324-1.344-4.932-5.129-3.588-8.456c1.342-3.326,5.129-4.933,8.457-3.59\
                C179.053,37.84,180.66,41.625,179.316,44.951z')
                path(d='M176.951,43.997\
                c-0.816,2.021-3.115,2.997-5.137,2.18c-2.021-0.815-2.996-3.116-2.18-5.136c0.814-2.021,3.115-2.997,5.136-2.181\
                C176.791,39.676,177.768,41.976,176.951,43.997z')
                path(d='M128.912,63.041\
                c-0.304,0.752-1.156,1.114-1.906,0.811s-1.112-1.157-0.809-1.908c0.303-0.75,1.155-1.111,1.905-0.809\
                C128.854,61.438,129.215,62.292,128.912,63.041z')
                path(d='M331.627,620.138c0,18.777-15.223,34-34,34H50.48\
                c-18.777,0-34-15.223-34-34V43.515c0-18.778,15.223-34,34-34h247.146c18.777,0,34,15.222,34,34L331.627,620.138L331.627,620.138z')
                path(d='M326.533,610.82c0,18.17-14.73,32.9-32.9,32.9\
                H54.476c-18.171,0-32.901-14.73-32.901-32.9V52.834c0-18.171,14.73-32.901,32.901-32.901h239.157c18.17,0,32.9,14.73,32.9,32.901\
                V610.82z')
                path(d='M205.781,62.494c0-0.628-0.328-1.136-0.732-1.136\
                h-61.035c-0.404,0-0.732,0.508-0.732,1.136l0,0c0,0.627,0.328,1.136,0.732,1.136h61.035C205.453,63.63,205.781,63.12,205.781,62.494L205.781,62.494z')
                path(d='M319.195,575.517H28.912V79.974h290.283V575.517L319.195,575.517z')
                path(d='M194.297,608.976c0,11.182-9.064,20.244-20.244,20.244s-20.242-9.063-20.242-20.244c0-11.18,9.063-20.242,20.242-20.242C185.232,588.734,194.297,597.796,194.297,608.976z')
                path(fill='none', stroke='#ffffff', stroke-width='1.5', stroke-miterlimit='10', d='M198.421,608.976c0,13.457-10.909,24.367-24.366,24.367c-13.458,0-24.368-10.91-24.368-24.367s10.909-24.365,24.368-24.365\
                C187.512,584.609,198.421,595.519,198.421,608.976z')
                path(d='M326.58,592.509l4.094,1v-6.824l-4.094-1V592.509z')
                path(d='M21.575,585.685l-4.094,1v6.824l4.094-1V585.685z')
                path(d='M21.574,64.682l-4.094-1v6.825l4.094,1V64.682z')
                path(d='M16.48,89.219l-2.953,1.661v25.734l2.953,1.771V89.219z')
                path(d='M331.525,133.002l2.95-1.661V98.324l-2.95-1.772V133.002z')
                path(d='M16.48,149.395l-2.953,1.661v37.577l2.953,1.772V149.395z')
                path(d='M16.48,206.074l-2.953,1.661v37.577l2.953,1.772V206.074z')
                path(d='M326.58,64.682l4.094-1v6.825l-4.094,1V64.682z')
                path(fill='none', d='M174.055,587.111c12.078,0,21.868,9.789,21.868,21.867s-9.79,21.867-21.868,21.867\
                c-12.077,0-21.868-9.789-21.868-21.867S161.978,587.111,174.055,587.111z')
                path(d='M21.574,51.713c0,0,2.863-10.729,11.053-18.146\
                c8.068-7.306,19.738-8.096,19.738-8.096h120.928h121.343c0,0,13.065,0.216,22.271,9.421c8.875,8.875,9.83,22.679,9.83,22.679')
                path(d='M326.736,605.879c0,0-0.955,13.804-9.83,22.679\
                c-9.205,9.206-22.271,9.422-22.271,9.422H173.293H52.365c0,0-11.669-0.79-19.738-8.096c-8.19-7.417-11.053-18.146-11.053-18.146')
            img.modern.img-responsive(src='../img/statistics-responsive.png')

  #web-services.gray-section
    .container
      h1.heading-1.text-center Our Buzzin Services

      .Test
      .row
        .col-md-12.responsive-web
          div.resp-learnmore
            a.hvr-ripple-out(href='/static-websites')
              img.img-responsive(src="../img/plus-icon-blue.png")


  #web-services-commerce.gray-section
    .container.web-services-commerce.mt-30.mb-10
      .row.text-center
        .col-md-12.space-auto.text-center.mb-30
          h1.heading-1 Web Services
        .col-xs-3.col-md-2.space-auto
          span.hr-line
        .col-md-7.space-auto
          h4.light-text Responsive E-commerce Websites

      .row.services.mt-40
        .col-md-3.col-left.right-align.mb-40
          h3.heading-3.thin-text Multi Platform
          p.light-text For use on desktops, tablets and smarthphone
          br
          h3.heading-3.thin-text Fast & Secure
          p.light-text Very secure solution with best industry practices and inline with PCI compliance
        .col-md-6.col-middle
          .col.mobile-tablet-container
            img.tablet.img-responsive(src="../img/responsive/web-services-responsive-e-commerce.png")
            svg#tablet(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='562.472px', height='648.895px', viewbox='0 0 562.472 648.895', enable-background='new 0 0 562.472 648.895', xml:space='preserve')
              g#mobile-tablet
                path(fill='none', stroke='#FFFFFF', stroke-width='1.5', stroke-miterlimit='10', d='M488.242,45.277\
                c0-16.897-13.812-30.679-30.856-30.726l-346.662-0.134c-8.214-0.01-15.955,3.189-21.798,9.006\
                c-5.841,5.814-9.063,13.518-9.071,21.683L79.64,585.69c0,16.891,13.801,30.681,30.77,30.724l346.744,0.148\
                c8.208,0,15.949-3.198,21.804-9.017c5.841-5.814,9.058-13.517,9.069-21.689L488.242,45.277z M111.188,611.584L111.188,611.584\
                v0.003V611.584z')
                path(fill='none', stroke='#FFFFFF', stroke-width='1.5', stroke-miterlimit='10', d='M483.618,45.149l-0.207,538.368\
                c0,15.521-12.72,28.224-28.238,28.216l-343.653-0.146c-15.525-0.003-28.221-12.706-28.208-28.229l0.207-538.367\
                c0.012-15.526,12.707-28.222,28.244-28.215l343.648,0.146C470.928,16.921,483.636,29.627,483.618,45.149z')
                g
                  g
                    path(fill='none', stroke='#FFFFFF', stroke-width='1.5', stroke-miterlimit='10', d='M474.189,551.928\
                    c-0.001,0.779-0.639,1.417-1.418,1.416L94.913,553.19c-0.78-0.001-1.417-0.639-1.417-1.418l0.184-475.351\
                    c0-0.78,0.638-1.417,1.418-1.417l377.862,0.155c0.779,0,1.417,0.638,1.416,1.418L474.189,551.928z')
                path(fill='none', stroke='#FFFFFF', stroke-width='1.5', stroke-miterlimit='10', d='M299.741,580.932\
                c-0.007,8.996-7.34,16.288-16.384,16.288c-9.05-0.014-16.378-7.301-16.372-16.292c0-8.994,7.342-16.281,16.385-16.281\
                C292.407,564.652,299.748,571.947,299.741,580.932z')
                path(fill='none', stroke='#FFFFFF', stroke-width='1.5', stroke-miterlimit='10', d='M287.678,48.526c0,2.33-1.889,4.219-4.22,4.219\
                c-2.33,0-4.219-1.889-4.219-4.219s1.889-4.219,4.219-4.219C285.789,44.307,287.678,46.196,287.678,48.526z')
                path(fill='none', stroke='#FFFFFF', stroke-width='1.5', stroke-miterlimit='10', d='M285.133,48.521c0,0.925-0.75,1.674-1.675,1.674\
                c-0.924,0-1.674-0.75-1.674-1.674s0.75-1.674,1.674-1.674C284.383,46.846,285.133,47.596,285.133,48.521z')
                path(fill='none', stroke='#FFFFFF', stroke-width='1.5', stroke-miterlimit='10', d='M272.897,48.82c0,0.837-0.684,1.517-1.532,1.517\
                c-0.84,0-1.519-0.68-1.509-1.522c-0.01-0.84,0.669-1.525,1.509-1.525C272.214,47.292,272.897,47.974,272.897,48.82z')
                path(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M288.397,584.711c0,1.205-0.57,2.184-1.749,2.184\
                h-7.116c-1.179,0-2.135-0.979-2.135-2.184v-7.278c0-1.205,0.956-1.538,2.135-1.538h7.116c1.179,0,1.749,0.333,1.749,1.538V584.711z\
                ')

            .services-icons
              ul
                li
                  img.img-responsive(src="img/responsive/web-services-responsive-ecommerce-multi-platform.png", alt="")
                li
                  img.img-responsive(src="img/responsive/web-services-responsive-quick-and-easy-process.png", alt="")
                li
                  img.img-responsive(src="img/responsive/web-services-responsive-fast-and-secure.png", alt="")
                li
                  img.img-responsive(src="img/responsive/web-services-responsive-ecommerce-enterprise-grade-features.png", alt="")




        .col-md-3.col-right.mb-50
          h3.heading-3.thin-text Quick & Easy Process
          p.light-text Large selection of payment and shipment methods integrated into standard shopping cart application
          br
          h3.heading-3.thin-text Enterprise Grade Features
          p.light-text Equipped with many out of the box enterprise grade features at no cost

      .row
        .col-md-12.responsive-web
          div.resp-learnmore
            ul
              li
                a.hvr-ripple-out(href='/responsive-e-commerce-platform')
                  img.img-responsive(src="../img/i-icon-white.png")
              li
                a.hvr-ripple-out(href='http://app.webriq.com/sites/create' target="_blank")
                  img.img-responsive(src="../img/plus-icon-white.png")


  #projects.portfolio.gray-section
    .container.mb-50.mt-30
      .row.text-center
        .col-md-12.space-auto.text-center.mb-30
          h1.heading-1 Our Projects
        .col-xs-3.col-md-2.space-auto
          span.hr-line
        .col-md-7.space-auto
          h4.light-text See our latest projects with our awesome customers

      .row.mt-40
        .col-lg-12
          .col-lg-4.col-md-4.col-sm-6.col-xs-12.text-center
            .hovereffect
              img.thumb-proj(title='', src='../img/projects/anzac_thumb.jpg', alt='', width='350', height='221')
              .overlay
                p
                  a.example-image-link(href='../img/anzac-full.jpg', data-lightbox='set') View
                //- img(title='', src='../img/projects/anzac-hover-img.png')
          .col-lg-4.col-md-4.col-sm-6.col-xs-12.text-center
            .hovereffect
              img.thumb-proj(title='', src='../img/projects/lanarchamber_thumb.jpg', alt='', width='350', height='221')
              .overlay
                p
                  a.example-image-link(href='../img/lanarkshire-full.jpg', data-lightbox='set') View
                //- img(title='', src='../img/projects/lanark-hover-img.png')
          .col-lg-4.col-md-4.col-sm-6.col-xs-12.text-center
            .hovereffect
              img.thumb-proj(title='', src='../img/projects/gascert_thumb.jpg', alt='', width='350', height='221')
              .overlay
                p
                  a.example-image-link(href='../img/gascert-full.jpg', data-lightbox='set') View
                //- img(title='', src='../img/projects/gas-hover.png')
          .col-lg-4.col-md-4.col-sm-6.col-xs-12.text-center
            .hovereffect
              img.thumb-proj(title='', src='../img/projects/guemilli_thumb.jpg', alt='', width='350', height='221')
              .overlay
                p
                  a.example-image-link(href='../img/guemili-full.jpg', data-lightbox='set') View
                //- img(title='', src='../img/projects/giuemelli-hover.png')
          .col-lg-4.col-md-4.col-sm-6.col-xs-12.text-center
            .hovereffect
              img.thumb-proj(title='', src='../img/projects/americas_thumb.jpg', alt='', width='350', height='221')
              .overlay
                p
                  a.example-image-link(href='../img/afs-resize.jpg', data-lightbox='set') View
                //- img(title='', src='../img/projects/afs-hover.png')
          .col-lg-4.col-md-4.col-sm-6.col-xs-12.text-center
            .hovereffect
              img.thumb-proj(title='', src='../img/projects/esports_thumb.jpg', alt='', width='350', height='221')
              .overlay
                p
                  a.example-image-link(href='../img/es-resize.jpg', data-lightbox='set') View
                //- img(title='', src='../img/projects/esports-hover.png')
          .col-lg-4.col-md-4.col-sm-6.col-xs-12.text-center
            .hovereffect
              img.thumb-proj(src='../img/projects/healthport1-thumb.jpg', alt='', width='350', height='221')
              .overlay
                p
                  a.example-image-link(href='../img/healthport.jpg', data-lightbox='set') View
                //- img(title='', src='../img/projects/healthport1-hover.png')
          .col-lg-4.col-md-4.col-sm-6.col-xs-12.text-center
            .hovereffect
              img.thumb-proj(title='', src='../img/projects/advanced_thumb.jpg', alt='', width='350', height='221')
              .overlay
                p
                  a.example-image-link(href='../img/advance-resize.jpg', data-lightbox='set') View
                //- img(title='', src='../img/projects/advanced-hover.png')
          .col-lg-4.col-md-4.col-sm-6.col-xs-12.text-center
            .hovereffect
              img.thumb-proj(src='../img/projects/blinds_thumb.jpg', alt='', width='350', height='221')
              .overlay
                p
                  a.example-image-link(href='../img/blind-resize.jpg', data-lightbox='set') View
                //- img(title='', src='../img/projects/blinds-hover.png')