extends layout

block content

  #half-grid.gray-section
    .container.responsive-web
      .row
        .col-sm-6.col-md-6.col-left
          .row.mb-30
            .col-md-12
              h1.navy-text.heading-1 Unique Customer Approach
          .row
            .col-md-12
              p.light-text
                | Today’s small businesses have more web and digital marketing options then ever before. Analytics are ever more powerful, automation is ever far reaching, and targeting is ever more precise. With that power has come increasing complexity and confusion for a lot of companies, especially for SME’s.
          .row.mb-10
            .col-md-12
              p.light-text
                | Together we make the marketing job less lonely.  With a set of well-defined Templates we plan and deliver
              ul#unique-approach-list.circle-check-blue.light-text.p-0
                li Web and Digital Marketing Strategy
                li Build-up of all digital assets
                li Analyze and track all digital assets over the entire service period
                li Recommend enhanced web and digital marketing strategies to further grow the business and the customer base

        .col-md-1
        .col-sm-6.col-md-5.col-right.mb-50.mt-50
          #modern-tech
            svg#phone(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='345px', height='667.093px', viewbox='0 0 345 667.093', enable-background='new 0 0 345 667.093', xml:space='preserve')
              g(fill='none', stroke='#ffffff', stroke-width='1.5', stroke-miterlimit='10')
                path(d='M179.316,44.951\
                c-1.344,3.326-5.129,4.934-8.458,3.59c-3.324-1.344-4.932-5.129-3.588-8.456c1.342-3.326,5.129-4.933,8.457-3.59\
                C179.053,37.84,180.66,41.625,179.316,44.951z')
                path(d='M176.951,43.997\
                c-0.816,2.021-3.115,2.997-5.137,2.18c-2.021-0.815-2.996-3.116-2.18-5.136c0.814-2.021,3.115-2.997,5.136-2.181\
                C176.791,39.676,177.768,41.976,176.951,43.997z')
                path(d='M128.912,63.041\
                c-0.304,0.752-1.156,1.114-1.906,0.811s-1.112-1.157-0.809-1.908c0.303-0.75,1.155-1.111,1.905-0.809\
                C128.854,61.438,129.215,62.292,128.912,63.041z')
                path(d='M331.627,620.138c0,18.777-15.223,34-34,34H50.48\
                c-18.777,0-34-15.223-34-34V43.515c0-18.778,15.223-34,34-34h247.146c18.777,0,34,15.222,34,34L331.627,620.138L331.627,620.138z')
                path(d='M326.533,610.82c0,18.17-14.73,32.9-32.9,32.9\
                H54.476c-18.171,0-32.901-14.73-32.901-32.9V52.834c0-18.171,14.73-32.901,32.901-32.901h239.157c18.17,0,32.9,14.73,32.9,32.901\
                V610.82z')
                path(d='M205.781,62.494c0-0.628-0.328-1.136-0.732-1.136\
                h-61.035c-0.404,0-0.732,0.508-0.732,1.136l0,0c0,0.627,0.328,1.136,0.732,1.136h61.035C205.453,63.63,205.781,63.12,205.781,62.494L205.781,62.494z')
                path(d='M319.195,575.517H28.912V79.974h290.283V575.517L319.195,575.517z')
                path(d='M194.297,608.976c0,11.182-9.064,20.244-20.244,20.244s-20.242-9.063-20.242-20.244c0-11.18,9.063-20.242,20.242-20.242C185.232,588.734,194.297,597.796,194.297,608.976z')
                path(fill='none', stroke='#ffffff', stroke-width='1.5', stroke-miterlimit='10', d='M198.421,608.976c0,13.457-10.909,24.367-24.366,24.367c-13.458,0-24.368-10.91-24.368-24.367s10.909-24.365,24.368-24.365\
                C187.512,584.609,198.421,595.519,198.421,608.976z')
                path(d='M326.58,592.509l4.094,1v-6.824l-4.094-1V592.509z')
                path(d='M21.575,585.685l-4.094,1v6.824l4.094-1V585.685z')
                path(d='M21.574,64.682l-4.094-1v6.825l4.094,1V64.682z')
                path(d='M16.48,89.219l-2.953,1.661v25.734l2.953,1.771V89.219z')
                path(d='M331.525,133.002l2.95-1.661V98.324l-2.95-1.772V133.002z')
                path(d='M16.48,149.395l-2.953,1.661v37.577l2.953,1.772V149.395z')
                path(d='M16.48,206.074l-2.953,1.661v37.577l2.953,1.772V206.074z')
                path(d='M326.58,64.682l4.094-1v6.825l-4.094,1V64.682z')
                path(fill='none', d='M174.055,587.111c12.078,0,21.868,9.789,21.868,21.867s-9.79,21.867-21.868,21.867\
                c-12.077,0-21.868-9.789-21.868-21.867S161.978,587.111,174.055,587.111z')
                path(d='M21.574,51.713c0,0,2.863-10.729,11.053-18.146\
                c8.068-7.306,19.738-8.096,19.738-8.096h120.928h121.343c0,0,13.065,0.216,22.271,9.421c8.875,8.875,9.83,22.679,9.83,22.679')
                path(d='M326.736,605.879c0,0-0.955,13.804-9.83,22.679\
                c-9.205,9.206-22.271,9.422-22.271,9.422H173.293H52.365c0,0-11.669-0.79-19.738-8.096c-8.19-7.417-11.053-18.146-11.053-18.146')
            img.modern.img-responsive(src='../img/statistics-responsive.png')

  #web-services.gray-section
    .container
      h1.heading-1.text-center Our Buzzin Services

      .row
        .col-md-12.responsive-web
          div.resp-learnmore
            a.hvr-ripple-out(href='/static-websites')
              img.img-responsive(src="../img/plus-icon-blue.png")


  #franchise.gray-section
    .container.mb-50.mt-30.pb-50
      .row.text-center
        .col-md-12.space-auto.text-center.mb-30
          h1.heading-1 Our Current Franchises
        .col-xs-3.col-md-2.space-auto
          span.hr-line
        .col-md-7.space-auto
          h4.light-text List of our Buzzin customer

      .row.mt-40
        .col-lg-12
          .col-lg-4.col-md-4.col-sm-6.col-xs-12.text-center
            .hovereffect
              img.thumb-proj(src='../img/franchise/buzzin-north-lanarkshire.jpg', alt='North Lanarkshire')
              .overlay
                p North Lanarkshire 
                  br
                  br
                  a.example-image-link(href='http://northlanarkshire.buzzin.today/home',target='_blank') Visit Website

          .col-lg-4.col-md-4.col-sm-6.col-xs-12.text-center
            .hovereffect
              img.thumb-proj(src='../img/franchise/buzzin-kent.jpg', alt='Kent')
              .overlay
                p Kent 
                  br
                  br
                  a.example-image-link(href='http://kent.buzzin.today/home',target='_blank') Visit Website
          .col-lg-4.col-md-4.col-sm-6.col-xs-12.text-center
            .hovereffect
              img.thumb-proj(src='../img/franchise/buzzin-slough.jpg', alt='Slough')
              .overlay
                p Slough 
                  br
                  br
                  a.example-image-link(href='http://slough.buzzin.today/home',target='_blank') Visit Website
          .col-lg-2.col-md-2.col-sm-6.col-xs-12.text-center
          .col-lg-4.col-md-4.col-sm-6.col-xs-12.text-center
            .hovereffect
              img.thumb-proj(src='../img/franchise/buzzin-south-lanarkshire.jpg', alt='South Lanarkshire ')
              .overlay
                p South Lanarkshire 
                  br
                  br
                  a.example-image-link(href='http://southlanarkshire.buzzin.today/home',target='_blank') Visit Website
          .col-lg-4.col-md-4.col-sm-6.col-xs-12.text-center
            .hovereffect
              img.thumb-proj(src='../img/franchise/buzzin-glasgow.jpg', alt='Glasgow')
              .overlay
                p Glasgow 
                  br
                  br
                  a.example-image-link(href='http://glasgow.buzzin.today/home',target='_blank') Visit Website
          .col-lg-2.col-md-2.col-sm-6.col-xs-12.text-center

      //- .row
        .col-md-12.responsive-web
          div.resp-learnmore
            ul
              li
                a.hvr-ripple-out(href='/responsive-e-commerce-platform')
                  img.img-responsive(src="../img/i-icon-white.png")
              li
                a.hvr-ripple-out(href='http://app.webriq.com/sites/create' target="_blank")
                  img.img-responsive(src="../img/plus-icon-white.png")


  #projects.portfolio.gray-section
    .container
      .row.text-center
        .col-md-12.space-auto.text-center.mb-30
          h1.heading-1 Partner With Us
        .col-xs-3.col-md-2.space-auto
          span.hr-line
        .col-md-7.space-auto
          h4.light-text We are looking to expand our Buzzin and Webfactories presence throughout the United Kingdom
      .row
        .col-md-5.col-sm-5.partner-icons
          .row

            .col-md-12.mt-50.mb-50
              .icon-holder
                img(src='../img/online-ads.svg')
              .icon-text
                h3.light-text.white-text Online Advertising
            .col-md-12.mb-50
              .icon-holder
                img(src='../img/e-commerce.svg')
              .icon-text
                h3.light-text.white-text Web and E-commerce Services 
            .col-md-12.mb-50
              .icon-holder
                img(src='../img/digital-marketing.svg')
              .icon-text
                h3.light-text.white-text Digital Online

        .col-md-7.col-sm-7
            #crmWebToEntityForm.form-div.mt-30(style='margin: auto;')
              meta(http-equiv='content-type', content='text/html;charset=UTF-8')
              form(action='https://crm.zoho.com/crm/WebToLeadForm', name='WebToLeads493666000001258001', method='POST', onsubmit='javascript:document.charset="UTF-8"; return checkMandatory()', accept-charset='UTF-8')
                // Do not remove this code.
                input(type='text', style='display:none;', name='xnQsjsdp', value='6bf1e200f8e911b8a9c759bda361ffef16e08961adbc2d271505b03fa7a17503')
                input#zc_gad(type='hidden', name='zc_gad', value='')
                input(type='text', style='display:none;', name='xmIwtLD', value='db88ed8f7547f4926e808dca82347873db9f00abd2738fe61142c992136ec146')
                input(type='text', style='display:none;', name='actionType', value='TGVhZHM=')
                input(type='text', style='display:none;', name='returnURL', value='https://webfactories.biz')
                // Do not remove this code.
                .zoho-form
                    .form-holder
                      h3.light-text.white-text Request Partnership Info
                    .form-holder.form-left
                      .form-label
                        | Full Name
                        span(style='color:red;') *
                      .form-input
                        input(style='width: 250px;', maxlength='80', name='Last Name', type='text')
                    .form-holder.form-right
                      .form-label
                        | Company Name
                        span(style='color:red;') *
                      .form-input
                        input(style='width: 250px;', maxlength='100', name='Company', type='text')
                    .form-holder.form-left
                      .form-label Company Location
                      .form-input
                        input(style='width: 250px;', maxlength='30', name='Country', type='text')
                    .form-holder.form-right
                      .form-label Size of the Company
                      .form-input
                        input(style='width: 250px;', maxlength='9', name='No of Employees', type='text')
                    .form-holder.form-left
                      .form-label
                        | Email Address
                        span(style='color: red;') *
                      .form-input
                        input(style='width: 250px;', maxlength='100', name='Email', type='text')
                    .form-holder.form-right
                      .form-label Telephone Number
                      .form-input
                        input(style='width: 250px;', maxlength='30', name='Phone', type='text')
                    .form-holder
                      .form-label
                        | Website
                        span(style='color: red;') *
                      .form-input
                        input(style='width: 250px;', maxlength='255', name='Website', type='text')
                    .form-holder
                      .form-textarea
                        | Why are you interested in our services 
                      .form-input
                        textarea(style='width: 250;', maxlength='1000', name='Description')  
                    .form-holder
                      .form-label
                        | What are your challenges as a web service provider
                      .form-input
                        input(style='width: 250px;', maxlength='20', name='LEADCF2', type='text')
                    .form-holder.btn-holder
                      a.btn-submit
                        input(type='submit', value='Submit')
                      a.btn-reset
                        input(type='reset', value='Reset')
                script.
                  var mndFileds=new Array('Company','Last Name','Email','Website');
                  var fldLangVal=new Array('Company Name','Full Name','Email Address','Website');
                  var name='';
                  var email='';
                  function checkMandatory() {
                  for(i=0;i<mndFileds.length;i++) {
                  var fieldObj=document.forms['WebToLeads493666000001258001'][mndFileds[i]];
                  if(fieldObj) {
                  if (((fieldObj.value).replace(/^\\s+|\s+$/g, '')).length==0) {
                  if(fieldObj.type =='file')
                  {
                  alert('Please select a file to upload');
                  fieldObj.focus();
                  return false;
                  }
                  alert(fldLangVal[i] +' cannot be empty');
                  fieldObj.focus();
                  return false;
                  }  else if(fieldObj.nodeName=='SELECT') {
                  if(fieldObj.options[fieldObj.selectedIndex].value=='-None-') {
                  alert(fldLangVal[i] +' cannot be none');
                  fieldObj.focus();
                  return false;
                  }
                  } else if(fieldObj.type =='checkbox'){
                  if(fieldObj.checked == false){
                  alert('Please accept  '+fldLangVal[i]);
                  fieldObj.focus();
                  return false;
                  }
                  }
                  try {
                  if(fieldObj.name == 'Last Name') {
                  name = fieldObj.value;
                  }
                  } catch (e) {}
                  }
                  }
                  }