extends layout

block content

  #half-grid.gray-section
    .container.responsive-web
      .row
        .col-sm-6.col-md-6.col-left
          .row.mb-30
            .col-md-12
              h1.navy-text.heading-1 Unique Customer Approach
          .row
            .col-md-12
              p.light-text
                | Today’s small businesses have more web and digital marketing options then ever before. Analytics are ever more powerful, automation is ever far reaching, and targeting is ever more precise. With that power has come increasing complexity and confusion for a lot of companies, especially for SME’s.
          .row.mb-10
            .col-md-12
              p.light-text
                | Together we make the marketing job less lonely.  With a set of well-defined Templates we plan and deliver
              ul#unique-approach-list.circle-check-blue.light-text.p-0
                li Web and Digital Marketing Strategy
                li Build-up of all digital assets
                li Analyze and track all digital assets over the entire service period
                li Recommend enhanced web and digital marketing strategies to further grow the business and the customer base

        .col-md-1
        .col-sm-6.col-md-5.col-right.mb-50.mt-50
          #modern-tech
            svg#phone(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='345px', height='667.093px', viewbox='0 0 345 667.093', enable-background='new 0 0 345 667.093', xml:space='preserve')
              g(fill='none', stroke='#ffffff', stroke-width='1.5', stroke-miterlimit='10')
                path(d='M179.316,44.951\
                c-1.344,3.326-5.129,4.934-8.458,3.59c-3.324-1.344-4.932-5.129-3.588-8.456c1.342-3.326,5.129-4.933,8.457-3.59\
                C179.053,37.84,180.66,41.625,179.316,44.951z')
                path(d='M176.951,43.997\
                c-0.816,2.021-3.115,2.997-5.137,2.18c-2.021-0.815-2.996-3.116-2.18-5.136c0.814-2.021,3.115-2.997,5.136-2.181\
                C176.791,39.676,177.768,41.976,176.951,43.997z')
                path(d='M128.912,63.041\
                c-0.304,0.752-1.156,1.114-1.906,0.811s-1.112-1.157-0.809-1.908c0.303-0.75,1.155-1.111,1.905-0.809\
                C128.854,61.438,129.215,62.292,128.912,63.041z')
                path(d='M331.627,620.138c0,18.777-15.223,34-34,34H50.48\
                c-18.777,0-34-15.223-34-34V43.515c0-18.778,15.223-34,34-34h247.146c18.777,0,34,15.222,34,34L331.627,620.138L331.627,620.138z')
                path(d='M326.533,610.82c0,18.17-14.73,32.9-32.9,32.9\
                H54.476c-18.171,0-32.901-14.73-32.901-32.9V52.834c0-18.171,14.73-32.901,32.901-32.901h239.157c18.17,0,32.9,14.73,32.9,32.901\
                V610.82z')
                path(d='M205.781,62.494c0-0.628-0.328-1.136-0.732-1.136\
                h-61.035c-0.404,0-0.732,0.508-0.732,1.136l0,0c0,0.627,0.328,1.136,0.732,1.136h61.035C205.453,63.63,205.781,63.12,205.781,62.494L205.781,62.494z')
                path(d='M319.195,575.517H28.912V79.974h290.283V575.517L319.195,575.517z')
                path(d='M194.297,608.976c0,11.182-9.064,20.244-20.244,20.244s-20.242-9.063-20.242-20.244c0-11.18,9.063-20.242,20.242-20.242C185.232,588.734,194.297,597.796,194.297,608.976z')
                path(fill='none', stroke='#ffffff', stroke-width='1.5', stroke-miterlimit='10', d='M198.421,608.976c0,13.457-10.909,24.367-24.366,24.367c-13.458,0-24.368-10.91-24.368-24.367s10.909-24.365,24.368-24.365\
                C187.512,584.609,198.421,595.519,198.421,608.976z')
                path(d='M326.58,592.509l4.094,1v-6.824l-4.094-1V592.509z')
                path(d='M21.575,585.685l-4.094,1v6.824l4.094-1V585.685z')
                path(d='M21.574,64.682l-4.094-1v6.825l4.094,1V64.682z')
                path(d='M16.48,89.219l-2.953,1.661v25.734l2.953,1.771V89.219z')
                path(d='M331.525,133.002l2.95-1.661V98.324l-2.95-1.772V133.002z')
                path(d='M16.48,149.395l-2.953,1.661v37.577l2.953,1.772V149.395z')
                path(d='M16.48,206.074l-2.953,1.661v37.577l2.953,1.772V206.074z')
                path(d='M326.58,64.682l4.094-1v6.825l-4.094,1V64.682z')
                path(fill='none', d='M174.055,587.111c12.078,0,21.868,9.789,21.868,21.867s-9.79,21.867-21.868,21.867\
                c-12.077,0-21.868-9.789-21.868-21.867S161.978,587.111,174.055,587.111z')
                path(d='M21.574,51.713c0,0,2.863-10.729,11.053-18.146\
                c8.068-7.306,19.738-8.096,19.738-8.096h120.928h121.343c0,0,13.065,0.216,22.271,9.421c8.875,8.875,9.83,22.679,9.83,22.679')
                path(d='M326.736,605.879c0,0-0.955,13.804-9.83,22.679\
                c-9.205,9.206-22.271,9.422-22.271,9.422H173.293H52.365c0,0-11.669-0.79-19.738-8.096c-8.19-7.417-11.053-18.146-11.053-18.146')
            img.modern.img-responsive(src='../img/statistics-responsive.png')

  #web-services.gray-section
    .container
      h1.heading-1.text-center Our Buzzin Services

      .row.mb-40
        .col-sm-4.col-md-4
          .lead-boxes
            .lead-image
              svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='120px', height='120px', viewbox='0 0 120 120', enable-background='new 0 0 120 120', xml:space='preserve')
                g#web
                  path(fill='none', stroke='#03A9F4', stroke-width='1.5', stroke-miterlimit='10', d='M13.231,51.305V19.549c0-2.209,1.791-4,4-4h91.411\
                  c2.209,0,4,1.791,4,4V79.91c0,2.209-1.791,4-4,4H42.82')
                  path(fill='none', stroke='#03A9F4', stroke-width='1.5', stroke-miterlimit='10', d='M42.834,103.78c0,2.037-1.652,3.69-3.69,3.69\
                  H12.118c-2.038,0-3.69-1.653-3.69-3.69V54.995c0-2.038,1.652-3.69,3.69-3.69h27.027c2.038,0,3.69,1.652,3.69,3.69V103.78z')
                  path(fill='none', stroke='#03A9F4', stroke-width='1.5', stroke-miterlimit='10', d='M8.428,57.5h34.407')
                  path(fill='none', stroke='#03A9F4', stroke-width='1.5', stroke-miterlimit='10', d='M42.834,100.667H8.428')
                  path(fill='#03A9F4', class="circle" d='M27.488,104.129c0,1.026-0.831,1.858-1.857,1.858c-1.025,0-1.857-0.832-1.857-1.858\
                  c0-1.027,0.832-1.859,1.857-1.859C26.657,102.27,27.488,103.102,27.488,104.129z')
                  path(fill='none', stroke='#03A9F4', stroke-width='1.5', stroke-miterlimit='10', d='M112.643,24H13.231')
                  path(fill='#03A9F4', class="circle" d='M21.52,19.75c0,1.026-0.831,1.858-1.857,1.858c-1.025,0-1.857-0.832-1.857-1.858\
                  c0-1.027,0.832-1.859,1.857-1.859C20.689,17.891,21.52,18.723,21.52,19.75z M25.617,17.891c-1.025,0-1.857,0.832-1.857,1.859\
                  c0,1.026,0.832,1.858,1.857,1.858c1.026,0,1.857-0.832,1.857-1.858C27.474,18.723,26.643,17.891,25.617,17.891z M31.428,17.891\
                  c-1.025,0-1.857,0.832-1.857,1.859c0,1.026,0.832,1.858,1.857,1.858c1.026,0,1.857-0.832,1.857-1.858\
                  C33.285,18.723,32.454,17.891,31.428,17.891z')
                  path(fill='#03A9F4', class="circle" d='M29.656,54.25c0,0.414-0.336,0.75-0.75,0.75h-6.55c-0.414,0-0.75-0.336-0.75-0.75l0,0\
                  c0-0.414,0.336-0.75,0.75-0.75h6.55C29.32,53.5,29.656,53.836,29.656,54.25L29.656,54.25z')
                  path(fill='none', stroke='#03A9F4', stroke-miterlimit='10', d='M39.436,68.239H11.826v-4.978h27.609V68.239z M39.421,71.013H11.812\
                  V82.25h27.609V71.013z M39.421,85.263H11.812V96.5h27.609V85.263z')
                  path(fill='none', stroke='#03A9F4', stroke-miterlimit='10', d='M94.366,35.53H31.348v-4.978h63.019V35.53z M50.222,38.426H31.417\
                  v8.928h18.805V38.426z M71.798,38.426H52.993v8.928h18.805V38.426z M94.366,38.426H75.562v8.928h18.805V38.426z')
                  path(fill='none', stroke='#03A9F4', stroke-miterlimit='10', d='M94.366,63.25H75.562v-11h18.805V63.25z M94.366,65.75H75.562v18.16\
                  h18.805V65.75z M42.784,68.25h29.014V51.5H40.152 M57.5,83.91V71.013H42.784 M71.798,83.91V71.013H60V83.91')


            .lead-text.pl-10
              h3.light-text.mt-0 Web Home Page
              ul.list-services.light-text
                li Fully Managed Home page on Buzzin
                li Banner Ad on Buzzin Home page
                li Content Marketing on Social media
        .col-sm-4.col-md-4
          .lead-boxes
            .lead-image
              svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='120px', height='120px', viewbox='0 0 120 120', enable-background='new 0 0 120 120', xml:space='preserve')
                g#featured-ads
                  path(display='none', fill='none', stroke='#03A9F4', stroke-miterlimit='10', d='M112.643,79.91c0,2.209-1.791,4-4,4H17.231\
                  c-2.209,0-4-1.791-4-4V19.731c0-2.209,1.791-4,4-4h91.411c2.209,0,4,1.791,4,4V79.91z')
                  path(fill='none', stroke='#03A9F4', stroke-width='1.5', stroke-miterlimit='10', d='M110.078,104.332c0,1.105-0.896,2-2,2H11.387\
                  c-1.104,0-2-0.895-2-2V99c0-1.105,0.896-2,2-2h96.691c1.104,0,2,0.895,2,2V104.332z M37.76,25.416H11.667c-1.104,0-2,0.896-2,2\
                  V90.91c0,1.104,0.896,2,2,2h95.976c1.104,0,2-0.896,2-2V68.5')
                  path(fill='none', stroke='#19A1C8', stroke-width='1.5', stroke-miterlimit='10', d='M78.333,96.666v2c0,1.104-0.896,2-2,2h-33\
                  c-1.104,0-2-0.896-2-2v-2')
                  path(fill='none', stroke='#03A9F4', stroke-miterlimit='10', d='M109.643,31.75')
                  path(fill='none', stroke='#03A9F4', stroke-width='1.5', stroke-miterlimit='10', d='M113.244,64.718c0,2.307-1.87,4.178-4.178,4.178\
                  h-66.73c-2.308,0-4.178-1.871-4.178-4.178V19.37c0-2.308,1.871-4.178,4.178-4.178h66.73c2.308,0,4.178,1.871,4.178,4.178V64.718z')
                  path(fill='none', stroke='#03A9F4', stroke-miterlimit='10', d='M38.158,22.25h75.086')
                  path(fill='#03A9F4', class="circle" d='M45.06,18.75c0,0.889-0.719,1.609-1.608,1.609c-0.888,0-1.608-0.72-1.608-1.609\
                  c0-0.89,0.721-1.61,1.608-1.61C44.341,17.14,45.06,17.86,45.06,18.75z M48.607,17.14c-0.888,0-1.608,0.72-1.608,1.61\
                  c0,0.889,0.72,1.609,1.608,1.609c0.889,0,1.608-0.72,1.608-1.609C50.215,17.86,49.496,17.14,48.607,17.14z M53.638,17.14\
                  c-0.888,0-1.608,0.72-1.608,1.61c0,0.889,0.72,1.609,1.608,1.609c0.889,0,1.608-0.72,1.608-1.609\
                  C55.247,17.86,54.527,17.14,53.638,17.14z M104.5,19.054c0-0.721-0.584-1.305-1.305-1.305H62.937c-0.721,0-1.305,0.584-1.305,1.305\
                  l0,0c0,0.721,0.584,1.305,1.305,1.305h40.259C103.916,20.359,104.5,19.775,104.5,19.054L104.5,19.054z')
                  path(fill='none', stroke='#03A9F4', stroke-miterlimit='10', d='M67.791,49.624l3.818,3.851l10.027-7.706l5.459,5.94v8.273H60.154\
                  v-4.243L67.791,49.624z')
                  path(fill='none', stroke='#03A9F4', stroke-miterlimit='10', d='M93.25,43.822v14.341c0,2.209-1.791,4-4,4H59.247\
                  c-2.209,0-4-1.791-4-4V41c0-2.209,1.791-4,4-4h28.418 M62.041,40.918c-1.818,0-3.291,1.473-3.291,3.291\
                  c0,1.818,1.473,3.291,3.291,3.291c1.817,0,3.291-1.473,3.291-3.291C65.332,42.392,63.858,40.918,62.041,40.918z')
                  path(fill='none', stroke='#03A9F4', stroke-width='1.5', stroke-miterlimit='10', d='M105.918,35.291c0,5.086-4.123,9.209-9.209,9.209\
                  S87.5,40.377,87.5,35.291c0-5.086,4.123-9.209,9.209-9.209S105.918,30.205,105.918,35.291z')
                  g
                    path(fill='#03A9F4', class="circle" d='M97.494,39.25h-1.418v-6.854l-2.092,0.713v-1.195l3.328-1.225h0.182V39.25z')
                  path(fill='none', stroke='#03A9F4', stroke-width='1.5', stroke-miterlimit='10', d='M10,84.75h99.643 M9.75,31.75h28.01 M102.75,87\
                  c-0.967,0-1.75,0.783-1.75,1.75s0.783,1.75,1.75,1.75s1.75-0.783,1.75-1.75S103.717,87,102.75,87z')


            .lead-text.pl-10
              h3.light-text.mt-0 Featured Ads
              ul.list-services.light-text
                li Banner logo with corporate profile
                li Landing page on Buzzin
                li Ad marketing on social media
        .col-sm-4.col-md-4
          .lead-boxes
            .lead-image
              svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='120px', height='120px', viewbox='0 0 120 120', enable-background='new 0 0 120 120', xml:space='preserve')
                g#banner-ads
                  path(fill='none', stroke='#03A9F4', stroke-width='1.5', stroke-miterlimit='10', d='M110.643,78.91c0,2.209-1.791,4-4,4H14.548\
                  c-2.209,0-4-1.791-4-4V19.416c0-2.209,1.791-4,4-4h92.095c2.209,0,4,1.791,4,4V78.91z')
                  path(fill='none', stroke='#03A9F4', stroke-width='1.5', stroke-miterlimit='10', d='M10.548,74.333h100.095')
                  g
                    polygon(fill='#03A9F4', class="circle" points='39.212,33.772 39.559,34.031 40.847,32.304 31.45,31.126 35.258,39.797 36.546,38.071\
                    36.199,37.812   ')
                    polygon(fill='#03A9F4', class="circle" points='44.016,37.355 39.559,34.031 39.212,33.772 36.199,37.812 36.546,38.071 41.003,41.396   ')
                  path(fill='none', stroke='#03A9F4', stroke-width='1.5', stroke-miterlimit='10', d='M47,44H18.333V26.759H47V44z M47,49.163H18.333\
                  v17.241H47V49.163z')
                  path(fill='none', stroke='#03A9F4', stroke-width='1.5', stroke-miterlimit='10', d='M51.333,28H88 M51.333,32.398H88 M51.333,36.797\
                  h31 M51.333,53.333H88 M80.333,58.5h-29 M51.334,63.667h19.333')
                  path(fill='none', stroke='#03A9F4', stroke-miterlimit='10', d='M110.643,93.472c0,2.209-1.791,4-4,4H13.381c-2.209,0-4-1.791-4-4\
                  V91.14c0-2.209,1.791-4,4-4h93.262c2.209,0,4,1.791,4,4V93.472z')
                  path(fill='#03A9F4', class="circle" d='M32.667,92.25c0,0.69-0.56,1.25-1.25,1.25H15.75c-0.69,0-1.25-0.56-1.25-1.25l0,0\
                  c0-0.69,0.56-1.25,1.25-1.25h15.667C32.107,91,32.667,91.56,32.667,92.25L32.667,92.25z M104.812,91\
                  c-0.794,0-1.438,0.644-1.438,1.438c0,0.794,0.644,1.438,1.438,1.438c0.795,0,1.438-0.644,1.438-1.438\
                  C106.25,91.644,105.606,91,104.812,91z')

            .lead-text.pl-10
              h3.light-text.mt-0 Banner Ads
              ul.list-services.light-text
                li Banner ads on Home or Inner pages
                li Links to website

      .row.mb-40
        .col-sm-4.col-md-4
          .lead-boxes
            .lead-image
              svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='120px', height='120px', viewbox='0 0 120 120', enable-background='new 0 0 120 120', xml:space='preserve')
                g#classifieds
                  path(fill='none', stroke='#03A9F4', stroke-width='1.5', stroke-miterlimit='10', d='M110.095,80.826c0,1.104-0.896,2-2,2H13.5\
                  c-1.104,0-2-0.896-2-2v-63.41c0-1.104,0.896-2,2-2h94.595c1.104,0,2,0.896,2,2V80.826z')
                  path(fill='none', stroke='#03A9F4', stroke-width='1.5', stroke-miterlimit='10', d='M56.798,82.834v9.25 M64.798,92.084v-9.25\
                  M73.25,94c0-1.104-0.896-2-2-2h-21c-1.104,0-2,0.896-2,2v0.25c0,1.104,0.896,2,2,2h21c1.104,0,2-0.896,2-2V94z')
                  path(fill='none', stroke='#03A9F4', stroke-width='1.5', stroke-miterlimit='10', d='M110.095,73.5H11.5 M11.5,21.75h98.595')
                  path(fill='#03A9F4', class="circle" d='M97.125,78.125c0,0.76-0.615,1.375-1.375,1.375s-1.375-0.615-1.375-1.375s0.615-1.375,1.375-1.375\
                  S97.125,77.365,97.125,78.125z M100.375,76.75c-0.76,0-1.375,0.615-1.375,1.375s0.615,1.375,1.375,1.375s1.375-0.615,1.375-1.375\
                  S101.135,76.75,100.375,76.75z M105,76.75c-0.76,0-1.375,0.615-1.375,1.375S104.24,79.5,105,79.5s1.375-0.615,1.375-1.375\
                  S105.76,76.75,105,76.75z')
                  path(fill='none', stroke='#03A9F4', stroke-miterlimit='10', d='M59,59.25H24v-25.5h35V59.25z')
                  path(fill='none', stroke='#03A9F4', stroke-miterlimit='10', d='M62.5,35.5h17.75 M62.5,37.833h17.75 M80.25,40.167H62.5 M62.375,42.5\
                  h17.75 M62.5,46.5h17.75 M62.5,48.833h17.75 M80.25,51.167H62.5 M62.375,53.5h17.75 M82.5,35.5h17.75 M82.5,37.833h17.75\
                  M100.25,40.167H82.5 M82.375,42.5h17.75 M82.5,46.5h17.75 M82.5,48.833h17.75 M100.25,51.167H82.5 M82.375,53.5h17.75')
                  path(fill='none', stroke='#03A9F4', stroke-miterlimit='10', d='M24,53.421L39.27,44.5l11.667,6.816L59,46.902 M50.875,39.833\
                  c-1.45,0-2.625,1.175-2.625,2.625s1.175,2.625,2.625,2.625s2.625-1.175,2.625-2.625S52.325,39.833,50.875,39.833z')


            .lead-text.pl-10
              h3.light-text.mt-0 Classified Ads
              ul.list-services.light-text
                li Company banner with inner page
                li Call for action buttons
                li Company description and Review/rating
        .col-sm-4.col-md-4
          .lead-boxes
            .lead-image
              svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='120px', height='120px', viewbox='0 0 120 120', enable-background='new 0 0 120 120', xml:space='preserve')
                g#digital-marketing
                  path(fill='none', stroke='#03A9F4', stroke-width='1.5', stroke-miterlimit='10', d='M101.368,99.285c0,0.942-0.763,1.705-1.705,1.705\
                  H18.594c-0.942,0-1.706-0.763-1.706-1.705V44.436c0-0.941,0.764-1.705,1.706-1.705h81.069c0.942,0,1.705,0.764,1.705,1.705V99.285z')
                  path(fill='none', stroke='#03A9F4', stroke-width='1.5', stroke-miterlimit='10', d='M101.368,109.655c0,0.941-0.763,1.705-1.705,1.705\
                  H18.595c-0.942,0-1.706-0.764-1.706-1.705v-4.547c0-0.942,0.764-1.704,1.706-1.704h81.068c0.942,0,1.705,0.762,1.705,1.704V109.655z\
                  ')
                  path(fill='#03A9F4', class="circle" d='M70.638,106.529c0,0.471-0.382,0.853-0.853,0.853H48.473c-0.471,0-0.853-0.382-0.853-0.853l0,0\
                  c0-0.471,0.382-0.854,0.853-0.854h21.313C70.256,105.676,70.638,106.059,70.638,106.529L70.638,106.529z')
                  path(fill='none', stroke='#03A9F4', stroke-width='1.5', stroke-miterlimit='10', d='M109.572,57.876v-4.31 M109.572,52.335v-2.771\
                  M109.572,48.641V45.3')
                  path(fill='#03A9F4', class="circle" d='M112.035,60.34c0,1.361-1.103,2.463-2.463,2.463c-1.359,0-2.463-1.102-2.463-2.463\
                  c0-1.359,1.104-2.462,2.463-2.462C110.933,57.878,112.035,58.98,112.035,60.34z M109.667,39.086l-3.725,5.297h7.26L109.667,39.086z')
                  path(fill='none', stroke='#03A9F4', stroke-width='1.5', stroke-miterlimit='10', d='M72.368,37.849l-2.605-1.407 M69.018,36.039\
                  l-1.676-0.905 M64.764,33.741l2.02,1.091')
                  path(fill='#03A9F4', class="circle" d='M74.662,37.166c0.822,0.445,1.129,1.471,0.685,2.293c-0.443,0.822-1.471,1.129-2.294,0.685\
                  c-0.822-0.444-1.128-1.472-0.685-2.294C72.813,37.027,73.84,36.721,74.662,37.166z M61.037,31.654l1.986,3.982l2.371-4.39\
                  L61.037,31.654z')
                  path(fill='none', stroke='#03A9F4', stroke-width='1.5', stroke-miterlimit='10', d='M101.368,93.296H17.525 M17.525,49.398h83.843')
                  path(fill='#03A9F4', class="circle" d='M30.837,57.42c0,1.611-1.305,2.917-2.917,2.917c-1.611,0-2.917-1.306-2.917-2.917\
                  c0-1.612,1.306-2.917,2.917-2.917C29.532,54.503,30.837,55.809,30.837,57.42z M27.919,71.86c-1.611,0-2.917,1.306-2.917,2.918\
                  c0,1.611,1.306,2.917,2.917,2.917c1.612,0,2.917-1.306,2.917-2.917C30.837,73.166,29.532,71.86,27.919,71.86z')
                  path(fill='none', stroke='#03A9F4', stroke-miterlimit='10', d='M32.987,65.251c0,1.017-0.825,1.842-1.842,1.842h-6.142\
                  c-1.017,0-1.842-0.825-1.842-1.842V62.49c0-1.018,0.825-1.842,1.842-1.842h6.142c1.017,0,1.842,0.824,1.842,1.842V65.251z\
                  M32.987,79.848c0-1.017-0.825-1.842-1.842-1.842h-6.142c-1.017,0-1.842,0.825-1.842,1.842v2.762c0,1.017,0.825,1.842,1.842,1.842\
                  h6.142c1.017,0,1.842-0.825,1.842-1.842V79.848z')
                  path(fill='none', stroke='#03A9F4', stroke-miterlimit='10', d='M62.783,59.607H38.623 M62.783,62.85H38.623 M62.783,76.385H38.623\
                  M38.623,79.627h24.161')
                  path(fill='none', stroke='#03A9F4', stroke-miterlimit='10', d='M96.422,33.991c0,0-0.769-11.261,11.021-11.021 M107.854,25.86\
                  c-9.137-0.187-8.541,8.542-8.541,8.542 M108.535,28.78c-6.743-0.137-6.304,6.303-6.304,6.303')
                  polygon(fill='#03A9F4', class="circle" points='105.774,9.353 105.774,7.864 104.248,7.864 104.7,8.964 ')
                  polygon(fill='#03A9F4', class="circle" points='98.104,7.864 96.672,7.864 96.672,9.422 97.692,9 ')
                  polygon(fill='#03A9F4', class="circle" points='104.49,16.968 105.774,16.968 105.774,15.512 104.885,15.879 ')
                  polygon(fill='#03A9F4', class="circle" points='96.672,15.739 96.672,16.968 98.157,16.968 97.822,16.155 ')
                  polygon(fill='#03A9F4', class="circle" points='106.575,13.501 107.66,12.417 106.542,11.298 106.133,12.43 ')
                  polygon(fill='#03A9F4', class="circle" points='95.842,11.36 94.786,12.417 96.013,13.643 96.373,12.647 ')
                  polygon(fill='#03A9F4', class="circle" points='100.188,17.819 101.223,18.854 102.3,17.776 101.229,17.389 ')
                  polygon(fill='#03A9F4', class="circle" points='102.33,7.085 101.223,5.979 99.956,7.246 101.013,7.628 ')
                  polygon(fill='#03A9F4', class="circle" points='106.575,13.501 106.133,12.43 104.885,15.879 105.774,15.512 107.167,14.937 ')
                  polygon(fill='#03A9F4', class="circle" points='97.692,9 96.672,9.422 95.278,9.998 95.842,11.36 96.373,12.647 ')
                  polygon(fill='#03A9F4', class="circle" points='104.7,8.964 104.248,7.864 103.693,6.522 102.33,7.085 101.013,7.628 ')
                  polygon(fill='#03A9F4', class="circle" points='97.822,16.155 98.157,16.968 98.753,18.412 100.188,17.819 101.229,17.389 ')
                  path(fill='#03A9F4', class="circle" d='M106.133,12.43l0.409-1.131l0.533-1.476l-1.301-0.47L104.7,8.964l-3.688-1.335l-1.057-0.382l-1.44-0.521\
                  l-0.412,1.14L97.692,9l-1.319,3.646l-0.36,0.996l-0.596,1.643l1.255,0.453l1.15,0.417l3.407,1.233l1.07,0.388l1.678,0.607\
                  l0.513-1.415l0.395-1.089L106.133,12.43z M98.141,12.481c0-1.723,1.396-3.12,3.119-3.12c1.724,0,3.12,1.397,3.12,3.12\
                  c0,1.724-1.396,3.121-3.12,3.121C99.537,15.602,98.141,14.205,98.141,12.481z')
                  polygon(fill='#03A9F4', class="circle" points='64.456,24.167 64.456,23.435 63.705,23.435 63.928,23.976 ')
                  polygon(fill='#03A9F4', class="circle" points='60.681,23.435 59.976,23.435 59.976,24.202 60.478,23.994 ')
                  polygon(fill='#03A9F4', class="circle" points='63.824,27.916 64.456,27.916 64.456,27.199 64.02,27.38 ')
                  polygon(fill='#03A9F4', class="circle" points='59.976,27.311 59.976,27.916 60.707,27.916 60.542,27.515 ')
                  polygon(fill='#03A9F4', class="circle" points='64.851,26.209 65.385,25.675 64.835,25.125 64.634,25.682 ')
                  polygon(fill='#03A9F4', class="circle" points='59.567,25.156 59.048,25.675 59.651,26.279 59.828,25.789 ')
                  polygon(fill='#03A9F4', class="circle" points='61.707,28.334 62.216,28.844 62.746,28.313 62.219,28.123 ')
                  polygon(fill='#03A9F4', class="circle" points='62.76,23.051 62.216,22.507 61.592,23.13 62.113,23.319 ')
                  polygon(fill='#03A9F4', class="circle" points='64.851,26.209 64.634,25.682 64.02,27.38 64.456,27.199 65.142,26.916 ')
                  polygon(fill='#03A9F4', class="circle" points='60.478,23.994 59.976,24.202 59.29,24.485 59.567,25.156 59.828,25.789 ')
                  polygon(fill='#03A9F4', class="circle" points='63.928,23.976 63.705,23.435 63.433,22.774 62.76,23.051 62.113,23.319 ')
                  polygon(fill='#03A9F4', class="circle" points='60.542,27.515 60.707,27.916 61,28.626 61.707,28.334 62.219,28.123 ')
                  path(fill='#03A9F4', class="circle" d='M64.634,25.682l0.201-0.557l0.262-0.726l-0.641-0.232l-0.528-0.191l-1.814-0.657l-0.521-0.188l-0.708-0.256\
                  l-0.203,0.561l-0.203,0.559l-0.65,1.795l-0.177,0.49l-0.292,0.809l0.617,0.223l0.566,0.205l1.676,0.607l0.527,0.191l0.826,0.299\
                  l0.252-0.696l0.195-0.536L64.634,25.682z M60.699,25.708c0-0.848,0.687-1.536,1.536-1.536s1.535,0.688,1.535,1.536\
                  c0,0.848-0.687,1.536-1.535,1.536S60.699,26.555,60.699,25.708z')
                  path(fill='none', stroke='#03A9F4', stroke-miterlimit='10', d='M89.903,37.166l-5.581-3.277c-0.278,0.049-0.559,0.088-0.846,0.108\
                  c-0.195,0.014-0.39,0.02-0.588,0.02c-4.621,0-8.367-3.745-8.367-8.367c0-4.621,3.746-8.366,8.367-8.366\
                  c4.62,0,8.365,3.746,8.365,8.366c0,2.613-1.197,4.947-3.073,6.481c-0.211,0.173-0.435,0.332-0.663,0.483L89.903,37.166z\
                  M78.096,22.966h9.528 M78.124,25.361h9.528 M78.124,27.757h9.528')
                  path(fill='none', stroke='#03A9F4', stroke-miterlimit='10', d='M91.444,12.993l-14.075-2.175l0.875-5.659l14.074,2.175L91.444,12.993\
                  z')
                  path(fill='none', stroke='#03A9F4', stroke-miterlimit='10', d='M77.369,10.818l-4.831-3.594l5.706-2.065')
                  path(fill='none', stroke='#03A9F4', stroke-width='1.5', stroke-miterlimit='10', d='M73.715,7.406l-1.971-0.305')
                  path(fill='none', stroke='#03A9F4', stroke-miterlimit='10', d='M89.136,10.864l-10.348-1.6')
                  path(fill='none', stroke='#03A9F4', stroke-miterlimit='10', d='M57.417,29.471L40.65,39.622l-5.084-8.398l-0.263-0.435l16.767-10.15\
                  L57.417,29.471z')
                  path(fill='none', stroke='#03A9F4', stroke-miterlimit='10', d='M52.069,20.638l-5.323,9.976l-11.387,0.269')
                  path(fill='none', stroke='#03A9F4', stroke-miterlimit='10', d='M40.581,39.397l4.667-8.748 M57.291,29.151l-9.886,0.234')
                  path(fill='none', stroke='#03A9F4', stroke-miterlimit='10', d='M48.587,13.927c0,4.422-3.584,8.006-8.006,8.006\
                  s-8.006-3.584-8.006-8.006s3.584-8.006,8.006-8.006S48.587,9.505,48.587,13.927z M40.581,21.933V5.92 M39.996,5.92\
                  c0,0-8.702,7.118,0,16.013 M41.181,21.933c8.703-8.895,0-16.013,0-16.013 M35.061,8.141c4.679,3.052,8.66,1.598,11.05,0.005\
                  M46.349,19.466c-2.489-1.51-6.418-2.65-10.979,0.53 M32.575,13.927h16.013')
                  path(fill='none', stroke='#03A9F4', stroke-miterlimit='10', d='M27.055,26.686c1.404,1.405,1.404,3.683,0,5.087\
                  c-1.406,1.405-3.683,1.405-5.089,0c-1.405-1.405-1.405-3.683,0-5.087C23.372,25.28,25.648,25.28,27.055,26.686z')
                  path(fill='#03A9F4', class="circle" d='M29.48,33.026l-1.173,1.173l-2.134-2.135l1.172-1.172L29.48,33.026z')
                  path(fill='#03A9F4', class="circle" d='M33.51,36.22l-2.009,2.008l-3.711-3.71l2.009-2.008L33.51,36.22z')
                  path(fill='#03A9F4', class="circle" d='M80.161,78.919l-2.954-11.778l11.779,2.953L80.161,78.919z')
                  path(fill='#03A9F4', class="circle" d='M92.014,78.669l-3.277,3.277l-5.78-5.781l3.276-3.276L92.014,78.669z')
                  path(fill='none', stroke='#03A9F4', stroke-miterlimit='10', d='M71.238,14.325c0,2.254-2.66,2.763-2.66,2.763h-9.216\
                  c0,0,0.13,0-2.969,0c-3.1,0-3.391-2.763-3.391-2.763c-0.454-4.117,4.21-4.076,4.21-4.076c1.55-4.091,6.368-3.848,6.368-3.848\
                  c6.036,0.215,6.101,5.651,6.101,5.651C71.108,12.788,71.238,14.325,71.238,14.325z M62.66,17.191h-0.916v2.416h0.916V17.191z\
                  M63.447,19.607h-2.461v1.278h2.461V19.607z M57.26,20.202l9.754,0.043 M67.342,11.744c0.136-2.289-1.957-3.322-1.957-3.322')
                  path(fill='#03A9F4', class="circle" d='M22.284,8.34c0.736,0.736,0.736,1.932,0,2.668c-0.737,0.737-1.933,0.737-2.669,0\
                  c-0.737-0.737-0.736-1.932,0-2.669C20.352,7.604,21.547,7.604,22.284,8.34z M25.475,14.2c-0.736,0.737-0.736,1.932,0,2.669\
                  c0.737,0.736,1.932,0.736,2.668,0c0.737-0.737,0.737-1.932,0-2.668C27.408,13.463,26.212,13.463,25.475,14.2z M16.547,17.83\
                  c-0.737,0.737-0.737,1.931,0,2.668c0.737,0.737,1.931,0.737,2.668,0c0.737-0.736,0.737-1.931,0-2.668\
                  C18.479,17.093,17.284,17.093,16.547,17.83z')
                  path(fill='none', stroke='#03A9F4', stroke-miterlimit='10', d='M20.316,11.468l-1.935,5.885 M18.673,18.99l7.207-3.178')
                  path(fill='#03A9F4', class="circle" d='M12.671,24.742l-5.903,3.002c-0.449,0.229-0.629,0.778-0.4,1.228l5.546,10.907\
                  c0.229,0.45,0.779,0.629,1.228,0.4l5.903-3.002c0.449-0.229,0.629-0.778,0.4-1.228l-5.546-10.907\
                  C13.671,24.692,13.121,24.513,12.671,24.742z M17.846,35.17l-5.598,2.846l-4.662-9.168l5.597-2.847L17.846,35.17z')
                  path(fill='#FFFFFF', d='M15.928,37.317c0.128,0.253,0.027,0.563-0.226,0.691c-0.252,0.128-0.562,0.028-0.69-0.225\
                  c-0.129-0.253-0.028-0.563,0.225-0.691S15.799,37.064,15.928,37.317z')
                  path(fill='#03A9F4', class="circle" d='M107.443,31.339c-1.465,0-2.651,1.187-2.651,2.651c0,1.464,1.187,2.651,2.651,2.651\
                  c1.463,0,2.65-1.187,2.65-2.651C110.094,32.526,108.906,31.339,107.443,31.339z M107.443,34.877c-0.49,0-0.887-0.397-0.887-0.887\
                  c0-0.49,0.396-0.887,0.887-0.887c0.489,0,0.887,0.397,0.887,0.887C108.33,34.48,107.933,34.877,107.443,34.877z')


            .lead-text.pl-10
              h3.light-text.mt-0 Digital Marketing
              ul.list-services.light-text
                li Newsletters
                li Blogs for Google Rankings



  #web-services-commerce.gray-section
    .container.web-services-commerce.mt-30.mb-10
      .row.text-center
        .col-md-12.space-auto.text-center.mb-30
          h1.heading-1 Web Services
        .col-xs-3.col-md-2.space-auto
          span.hr-line
        .col-md-7.space-auto
          h4.light-text Responsive E-commerce Websites

      .row.services.mt-40
        .col-md-3.col-left.right-align.mb-40
          h3.heading-3.thin-text Multi Platform
          p.light-text For use on desktops, tablets and smarthphone
          br
          h3.heading-3.thin-text Fast & Secure
          p.light-text Very secure solution with best industry practices and inline with PCI compliance
        .col-md-6.col-middle
          .col.mobile-tablet-container
            img.tablet.img-responsive(src="../img/responsive/web-services-responsive-e-commerce.png")
            svg#tablet(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='562.472px', height='648.895px', viewbox='0 0 562.472 648.895', enable-background='new 0 0 562.472 648.895', xml:space='preserve')
              g#mobile-tablet
                path(fill='none', stroke='#FFFFFF', stroke-width='1.5', stroke-miterlimit='10', d='M488.242,45.277\
                c0-16.897-13.812-30.679-30.856-30.726l-346.662-0.134c-8.214-0.01-15.955,3.189-21.798,9.006\
                c-5.841,5.814-9.063,13.518-9.071,21.683L79.64,585.69c0,16.891,13.801,30.681,30.77,30.724l346.744,0.148\
                c8.208,0,15.949-3.198,21.804-9.017c5.841-5.814,9.058-13.517,9.069-21.689L488.242,45.277z M111.188,611.584L111.188,611.584\
                v0.003V611.584z')
                path(fill='none', stroke='#FFFFFF', stroke-width='1.5', stroke-miterlimit='10', d='M483.618,45.149l-0.207,538.368\
                c0,15.521-12.72,28.224-28.238,28.216l-343.653-0.146c-15.525-0.003-28.221-12.706-28.208-28.229l0.207-538.367\
                c0.012-15.526,12.707-28.222,28.244-28.215l343.648,0.146C470.928,16.921,483.636,29.627,483.618,45.149z')
                g
                  g
                    path(fill='none', stroke='#FFFFFF', stroke-width='1.5', stroke-miterlimit='10', d='M474.189,551.928\
                    c-0.001,0.779-0.639,1.417-1.418,1.416L94.913,553.19c-0.78-0.001-1.417-0.639-1.417-1.418l0.184-475.351\
                    c0-0.78,0.638-1.417,1.418-1.417l377.862,0.155c0.779,0,1.417,0.638,1.416,1.418L474.189,551.928z')
                path(fill='none', stroke='#FFFFFF', stroke-width='1.5', stroke-miterlimit='10', d='M299.741,580.932\
                c-0.007,8.996-7.34,16.288-16.384,16.288c-9.05-0.014-16.378-7.301-16.372-16.292c0-8.994,7.342-16.281,16.385-16.281\
                C292.407,564.652,299.748,571.947,299.741,580.932z')
                path(fill='none', stroke='#FFFFFF', stroke-width='1.5', stroke-miterlimit='10', d='M287.678,48.526c0,2.33-1.889,4.219-4.22,4.219\
                c-2.33,0-4.219-1.889-4.219-4.219s1.889-4.219,4.219-4.219C285.789,44.307,287.678,46.196,287.678,48.526z')
                path(fill='none', stroke='#FFFFFF', stroke-width='1.5', stroke-miterlimit='10', d='M285.133,48.521c0,0.925-0.75,1.674-1.675,1.674\
                c-0.924,0-1.674-0.75-1.674-1.674s0.75-1.674,1.674-1.674C284.383,46.846,285.133,47.596,285.133,48.521z')
                path(fill='none', stroke='#FFFFFF', stroke-width='1.5', stroke-miterlimit='10', d='M272.897,48.82c0,0.837-0.684,1.517-1.532,1.517\
                c-0.84,0-1.519-0.68-1.509-1.522c-0.01-0.84,0.669-1.525,1.509-1.525C272.214,47.292,272.897,47.974,272.897,48.82z')
                path(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M288.397,584.711c0,1.205-0.57,2.184-1.749,2.184\
                h-7.116c-1.179,0-2.135-0.979-2.135-2.184v-7.278c0-1.205,0.956-1.538,2.135-1.538h7.116c1.179,0,1.749,0.333,1.749,1.538V584.711z\
                ')

            .services-icons
              ul
                li
                  img.img-responsive(src="img/responsive/web-services-responsive-ecommerce-multi-platform.png", alt="")
                li
                  img.img-responsive(src="img/responsive/web-services-responsive-quick-and-easy-process.png", alt="")
                li
                  img.img-responsive(src="img/responsive/web-services-responsive-fast-and-secure.png", alt="")
                li
                  img.img-responsive(src="img/responsive/web-services-responsive-ecommerce-enterprise-grade-features.png", alt="")




        .col-md-3.col-right.mb-50
          h3.heading-3.thin-text Quick & Easy Process
          p.light-text Large selection of payment and shipment methods integrated into standard shopping cart application
          br
          h3.heading-3.thin-text Enterprise Grade Features
          p.light-text Equipped with many out of the box enterprise grade features at no cost

      .row
        .col-md-12.responsive-web
          div.resp-learnmore
            ul
              li
                a.hvr-ripple-out(href='/responsive-e-commerce-platform')
                  img.img-responsive(src="../img/i-icon-white.png")
              li
                a.hvr-ripple-out(href='http://app.webriq.com/sites/create' target="_blank")
                  img.img-responsive(src="../img/plus-icon-white.png")


  #projects.portfolio.gray-section
    .container.mb-50.mt-30
      .row.text-center
        .col-md-12.space-auto.text-center.mb-30
          h1.heading-1 Our Projects
        .col-xs-3.col-md-2.space-auto
          span.hr-line
        .col-md-7.space-auto
          h4.light-text See our latest projects with our awesome customers

      .row.mt-40
        .col-lg-12
          .col-lg-4.col-md-4.col-sm-6.col-xs-12.text-center
            .hovereffect
              img.thumb-proj(title='', src='../img/projects/anzac_thumb.jpg', alt='', width='350', height='221')
              .overlay
                p
                  a.example-image-link(href='../img/anzac-full.jpg', data-lightbox='set') View
                //- img(title='', src='../img/projects/anzac-hover-img.png')
          .col-lg-4.col-md-4.col-sm-6.col-xs-12.text-center
            .hovereffect
              img.thumb-proj(title='', src='../img/projects/lanarchamber_thumb.jpg', alt='', width='350', height='221')
              .overlay
                p
                  a.example-image-link(href='../img/lanarkshire-full.jpg', data-lightbox='set') View
                //- img(title='', src='../img/projects/lanark-hover-img.png')
          .col-lg-4.col-md-4.col-sm-6.col-xs-12.text-center
            .hovereffect
              img.thumb-proj(title='', src='../img/projects/gascert_thumb.jpg', alt='', width='350', height='221')
              .overlay
                p
                  a.example-image-link(href='../img/gascert-full.jpg', data-lightbox='set') View
                //- img(title='', src='../img/projects/gas-hover.png')
          .col-lg-4.col-md-4.col-sm-6.col-xs-12.text-center
            .hovereffect
              img.thumb-proj(title='', src='../img/projects/guemilli_thumb.jpg', alt='', width='350', height='221')
              .overlay
                p
                  a.example-image-link(href='../img/guemili-full.jpg', data-lightbox='set') View
                //- img(title='', src='../img/projects/giuemelli-hover.png')
          .col-lg-4.col-md-4.col-sm-6.col-xs-12.text-center
            .hovereffect
              img.thumb-proj(title='', src='../img/projects/americas_thumb.jpg', alt='', width='350', height='221')
              .overlay
                p
                  a.example-image-link(href='../img/afs-resize.jpg', data-lightbox='set') View
                //- img(title='', src='../img/projects/afs-hover.png')
          .col-lg-4.col-md-4.col-sm-6.col-xs-12.text-center
            .hovereffect
              img.thumb-proj(title='', src='../img/projects/esports_thumb.jpg', alt='', width='350', height='221')
              .overlay
                p
                  a.example-image-link(href='../img/es-resize.jpg', data-lightbox='set') View
                //- img(title='', src='../img/projects/esports-hover.png')
          .col-lg-4.col-md-4.col-sm-6.col-xs-12.text-center
            .hovereffect
              img.thumb-proj(src='../img/projects/healthport1-thumb.jpg', alt='', width='350', height='221')
              .overlay
                p
                  a.example-image-link(href='../img/healthport.jpg', data-lightbox='set') View
                //- img(title='', src='../img/projects/healthport1-hover.png')
          .col-lg-4.col-md-4.col-sm-6.col-xs-12.text-center
            .hovereffect
              img.thumb-proj(title='', src='../img/projects/advanced_thumb.jpg', alt='', width='350', height='221')
              .overlay
                p
                  a.example-image-link(href='../img/advance-resize.jpg', data-lightbox='set') View
                //- img(title='', src='../img/projects/advanced-hover.png')
          .col-lg-4.col-md-4.col-sm-6.col-xs-12.text-center
            .hovereffect
              img.thumb-proj(src='../img/projects/blinds_thumb.jpg', alt='', width='350', height='221')
              .overlay
                p
                  a.example-image-link(href='../img/blind-resize.jpg', data-lightbox='set') View
                //- img(title='', src='../img/projects/blinds-hover.png')