extends general_custom

block content

	.partners.pt-50.pb-50.mt-10.mb-20
			.container
				.row
					.col-xs-12.col-sm-12.col-md-8.pull-left
						.partners.text-left.mt-20.mb-40
							.row.mb-20
								.col-sm-6
									.row.mb-20
										.col-xs-3.col-sm-3.thumb
											img(src='https://353a23c500dde3b2ad58-c49fe7e7355d384845270f4a7a0a7aa1.ssl.cf2.rackcdn.com/img/partners/0d6d98a11c3a6c9064ebf76be77e0fecfd836c73/unlimited-pages.svg', alt='')
										.col-xs-9.col-sm-12.details
											h3 Unlimited WebriQpages
											p
												| Create, build, manage and publish an unlimited number of Pages. Take full advantage of our automation tools for new builds and content updates.
								.col-sm-6
									.row
										.col-xs-3.col-sm-3.thumb
											img(src='https://353a23c500dde3b2ad58-c49fe7e7355d384845270f4a7a0a7aa1.ssl.cf2.rackcdn.com/img/partners/f79139031de7cfcac95b7ea9a539b48cf2087c5c/unlimited-shop.svg', alt='')
										.col-xs-9.col-sm-12.details
											h3 Unlimited WebriQshops
											p
												| Create, build, manage and publish an unlimited number of Shops. Take full advantage of our cloud tools for new builds and content updates.
							.row.mb-20
								.col-sm-6
									.row
										.col-xs-3.col-sm-3.thumb
											img(src='https://353a23c500dde3b2ad58-c49fe7e7355d384845270f4a7a0a7aa1.ssl.cf2.rackcdn.com/img/partners/63a8e7f9a5867778b460905353e20fe5993a2062/teams.svg', alt='')
										.col-xs-9.col-sm-12.details
											h3 Teams
											p
												| Each Page and Shop can be co-managed with up to 5 team members, each team member contributing to the build based on defined user roles.
								.col-sm-6
									.row
										.col-xs-3.col-sm-3.thumb
											img(src='https://353a23c500dde3b2ad58-c49fe7e7355d384845270f4a7a0a7aa1.ssl.cf2.rackcdn.com/img/partners/62bf13673e8140d0e126ac0d43f18f5c6262c2df/packages.svg', alt='')
										.col-xs-9.col-sm-12.details
											h3 Custom Made Packages
											p Create your own service packages based on customer needs and market demands.
							.row.mb-20
								.col-sm-6
									.row
										.col-xs-3.col-sm-3.thumb
											img(src='https://353a23c500dde3b2ad58-c49fe7e7355d384845270f4a7a0a7aa1.ssl.cf2.rackcdn.com/img/partners/8792db3294e77174e83fc3856ec31d94a6050cc6/support.svg', alt='')
										.col-xs-9.col-sm-12.details
											h3 Support
											p
												| Build your own support infrastructure or use ours as a third party service provider.
								.col-sm-6
									.row
										.col-xs-3.col-sm-3.thumb
											img(src='https://353a23c500dde3b2ad58-c49fe7e7355d384845270f4a7a0a7aa1.ssl.cf2.rackcdn.com/img/partners/ecc961965d594db06b459239a38a116e8df3c055/billing.svg', alt='')
										.col-xs-9.col-sm-12.details
											h3 Flexible Billing Plans
											p Single monthly billing for all your Pages and Shops.
					.col-xs-12.col-sm-12.col-md-4.pull-right
						#crmWebToEntityForm.form-div(style='margin: auto;')
							meta(http-equiv='content-type', content='text/html;charset=UTF-8')
							form(action='https://crm.zoho.com/crm/WebToLeadForm', name='WebToLeads493666000001258001', method='POST', onsubmit='javascript:document.charset="UTF-8"; return checkMandatory()', accept-charset='UTF-8')
								// Do not remove this code.
								input(type='text', style='display:none;', name='xnQsjsdp', value='6bf1e200f8e911b8a9c759bda361ffef16e08961adbc2d271505b03fa7a17503')
								input#zc_gad(type='hidden', name='zc_gad', value='')
								input(type='text', style='display:none;', name='xmIwtLD', value='db88ed8f7547f4926e808dca82347873db9f00abd2738fe61142c992136ec146')
								input(type='text', style='display:none;', name='actionType', value='TGVhZHM=')
								input(type='text', style='display:none;', name='returnURL', value='https://webfactories.biz')
								// Do not remove this code.
								.zoho-form
										.form-holder
											h3 WebriQ Account Request
										.form-holder
											.form-label.f1
												| Full Name
												span(style='color:red;') *
											.form-input.fr
												input(style='width: 250px;', maxlength='80', name='Last Name', type='text')
										.form-holder
											.form-label.f1
												| Company Name
												span(style='color:red;') *
											.form-input.fr
												input(style='width: 250px;', maxlength='100', name='Company', type='text')
										.form-holder
											.form-label.fl Company Location
											.form-input.fr
												input(style='width: 250px;', maxlength='30', name='Country', type='text')
										.form-holder
											.form-label.fl Size of the Company
											.form-input.fr
												input(style='width: 250px;', maxlength='9', name='No of Employees', type='text')
										.form-holder
											.form-label.fl
												| Email Address
												span(style='color: red;') *
											.form-input.fr
												input(style='width: 250px;', maxlength='100', name='Email', type='text')
										.form-holder
											.form-label.fl Telephone Number
											.form-input.fr
												input(style='width: 250px;', maxlength='30', name='Phone', type='text')
										.form-holder
											.form-label.fl
												| Website
												span(style='color: red;') *
											.form-input.fr
												input(style='width: 250px;', maxlength='255', name='Website', type='text')
										.form-holder
											.form-textarea.fl
												| Why are you interested in our services 
											.form-input.fr
												textarea(style='width: 250;', maxlength='1000', name='Description')  
										.form-holder
											.form-label.fl
												| What are your challenges as a web service provider
											.form-input.fr
												input(style='width: 250px;', maxlength='20', name='LEADCF2', type='text')
										.form-holder
											a.btn.btn-primary.eq-ui-waves-light
												input(type='submit', value='Submit')
											a.btn.btn-primary.eq-ui-waves-light
												input(type='reset', value='Reset')
								script.
									var mndFileds=new Array('Company','Last Name','Email','Website');
									var fldLangVal=new Array('Company Name','Full Name','Email Address','Website');
									var name='';
									var email='';
									function checkMandatory() {
									for(i=0;i<mndFileds.length;i++) {
									var fieldObj=document.forms['WebToLeads493666000001258001'][mndFileds[i]];
									if(fieldObj) {
									if (((fieldObj.value).replace(/^\\s+|\s+$/g, '')).length==0) {
									if(fieldObj.type =='file')
									{
									alert('Please select a file to upload');
									fieldObj.focus();
									return false;
									}
									alert(fldLangVal[i] +' cannot be empty');
									fieldObj.focus();
									return false;
									}  else if(fieldObj.nodeName=='SELECT') {
									if(fieldObj.options[fieldObj.selectedIndex].value=='-None-') {
									alert(fldLangVal[i] +' cannot be none');
									fieldObj.focus();
									return false;
									}
									} else if(fieldObj.type =='checkbox'){
									if(fieldObj.checked == false){
									alert('Please accept  '+fldLangVal[i]);
									fieldObj.focus();
									return false;
									}
									}
									try {
									if(fieldObj.name == 'Last Name') {
									name = fieldObj.value;
									}
									} catch (e) {}
									}
									}
									}
