extends general_custom

block content

    #pricing_desk.container.responsive.pricing.pt-50.pb-50.mt-20.mb-20
      .container-fluid#tab_cont
        .row.text-center
          ul.eq-ui-tabs
            li.eq-ui-tab
              a.active(href='#WebriQpages', data-toggle='tab') Pages
            li.eq-ui-tab
              a(href='#WebriQshops', data-toggle='tab') Shops

      .tab-content.mt-40.table-tab-content
        #WebriQpages.tab-pane.active
          table.table.table-bordered
            thead
              tr
                th.pricing-nb
                th.pricing-nb.text-center
                  a.text-white(href='#', data-toggle='modal', data-target='#myModal') Get A Quote
                th.pricing-nb.text-center
                  a.text-white(href='#', data-toggle='modal', data-target='#myModal') Get A Quote
              tr
                th
                  h3.text-center.text-white.mt-10.mb-0 Features
                  p.text-center.text-white
                    | Click
                    em.plus-icon
                      em.fa.fa-info  
                    |  for extra info
                th
                  h3.text-center.text-white.mt-0.mb-25(style='font-size: 30px;') Pro
                th
                  h3.text-center.text-white.mt-0.mb-25(style='font-size: 30px;') Limitless
            tbody
              tr
                td.td-feature
                  | Basic Custom Design
                  a.btn-plus-feature.text-right(data-container='body', data-toggle='popover', data-placement='right', data-content='One Custom Designed Mobile Responsive Theme')
                    em.plus-icon
                      em.fa.fa-info
                td.td-pro.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
                td.td-limiteless.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
              tr
                td.td-feature
                  | Full Custom Design
                  a.btn-plus-feature.text-right(data-container='body', data-toggle='popover', data-placement='right', data-content='Up to three Custom Designed Mobile Responsive Themes')
                    em.plus-icon
                      em.fa.fa-info
                td.td-pro.text-center
                  em.fa.fa-times(aria-hidden='true')
                td.td-limiteless.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
              tr
                td.td-feature
                  | Custom Coded Template
                  a.btn-plus-feature.text-right(data-container='body', data-toggle='popover', data-placement='right', data-content='Coding of one Mobile Responsive Template')
                    em.plus-icon
                      em.fa.fa-info
                td.td-pro.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
                td.td-limiteless.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
              tr
                td.td-feature
                  | Pages
                  a.btn-plus-feature.text-right(data-container='body', data-toggle='popover', data-placement='right', data-content='Limited Number (up to 25) of Rich Media Pages with text, graphics, pictures, audio and video')
                    em.plus-icon
                      em.fa.fa-info
                td.td-pro.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
                td.td-limiteless.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
              tr
                td.td-feature
                  | Unlimited Pages
                  a.btn-plus-feature.text-right(data-container='body', data-toggle='popover', data-placement='right', data-content='Unlimited Number of Rich Media Pages with text, graphics, pictures, audio and video')
                    em.plus-icon
                      em.fa.fa-info
                td.td-pro.text-center
                  em.fa.fa-times(aria-hidden='true')
                td.td-limiteless.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
              tr
                td.td-feature
                  | Blogs and Articles
                  a.btn-plus-feature.text-right(data-container='body', data-toggle='popover', data-placement='right', data-content='Limited Number of Blog and Article Posts')
                    em.plus-icon
                      em.fa.fa-info
                td.td-pro.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
                td.td-limiteless.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
              tr
                td.td-feature
                  | Unlimited Blogs and Articles
                  a.btn-plus-feature.text-right(data-container='body', data-toggle='popover', data-placement='right', data-content='Unlimited Number of Blog and Article Posts')
                    em.plus-icon
                      em.fa.fa-info
                td.td-pro.text-center
                  em.fa.fa-times(aria-hidden='true')
                td.td-limiteless.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
              tr
                td.td-feature
                  | HTML Form
                  a.btn-plus-feature.text-right(data-container='body', data-toggle='popover', data-placement='right', data-content='Submissions for any HTML Form and trigger email, slack or webhook notifications')
                    em.plus-icon
                      em.fa.fa-info
                td.td-pro.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
                td.td-limiteless.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
              tr
                td.td-feature
                  | E-mail Marketing
                  a.btn-plus-feature.text-right(data-container='body', data-toggle='popover', data-placement='right', data-content='Set-up with a dedicated Mailchimp account for up to 2,000 customers and 12, 000 emails sent per month')
                    em.plus-icon
                      em.fa.fa-info
                td.td-pro.text-center
                  em.fa.fa-times(aria-hidden='true')
                td.td-limiteless.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
              tr
                td.td-feature
                  | Web Forms
                  a.btn-plus-feature.text-right(data-container='body', data-toggle='popover', data-placement='right', data-content='Dedicated Form to gather leads and contacts from one or more of your landing pages')
                    em.plus-icon
                      em.fa.fa-info
                td.td-pro.text-center
                  em.fa.fa-times(aria-hidden='true')
                td.td-limiteless.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
              tr
                td.td-feature
                  | CRM
                  a.btn-plus-feature.text-right(data-container='body', data-toggle='popover', data-placement='right', data-content='Set-up of a dedicated Zoho CRM account for up to 10 users')
                    em.plus-icon
                      em.fa.fa-info
                td.td-pro.text-center
                  em.fa.fa-times(aria-hidden='true')
                td.td-limiteless.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
              tr
                td.td-feature
                  | Social Media
                  a.btn-plus-feature.text-right(data-container='body', data-toggle='popover', data-placement='right', data-content='Website is integrated with your social media assets, like Twitter, Facebook, Instagram, Google ')
                    em.plus-icon
                      em.fa.fa-info
                td.td-pro.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
                td.td-limiteless.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
              tr
                td.td-feature
                  | SSL (https)
                  a.btn-plus-feature.text-right(data-container='body', data-toggle='popover', data-placement='right', data-content='SNI SSL Certificate is included for each Top Level Domain')
                    em.plus-icon
                      em.fa.fa-info
                td.td-pro.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
                td.td-limiteless.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
              tr
                td.td-feature
                  | Continuous Deployment
                  a.btn-plus-feature.text-right(data-container='body', data-toggle='popover', data-placement='right', data-content='Continuous deployment services, including content updates')
                    em.plus-icon
                      em.fa.fa-info
                td.td-pro.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
                td.td-limiteless.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
              tr
                td.td-feature
                  | E-mail Support
                  a.btn-plus-feature.text-right.E-mail-Support(data-container='body', data-toggle='popover')
                    em.plus-icon
                      em.fa.fa-info
                td.td-basic.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
                td.td-pro.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
              tr
                td.td-feature
                  | Ticketing Support
                  a.Ticketing-Support.btn-plus-feature.text-right(data-container='body', data-toggle='popover')
                    em.plus-icon
                      em.fa.fa-info
                td.td-pro.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
                td.td-limiteless.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
              tr
                td.td-feature
                  | Slack Chat Support
                  a.btn-plus-feature.text-right(data-container='body', data-toggle='popover', data-placement='right', data-content='Request Content updates through a dedicated Slack communication channel')
                    em.plus-icon
                      em.fa.fa-info
                td.td-pro.text-center
                  em.fa.fa-times(aria-hidden='true')
                td.td-limiteless.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
              tr
                td.td-feature
                  | Trello Project Management
                  a.btn-plus-feature.text-right(data-container='body', data-toggle='popover', data-placement='right', data-content='Project workflow through Trello')
                    em.plus-icon
                      em.fa.fa-info
                td.td-pro.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
                td.td-limiteless.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
              tr
                td.td-feature
                  | Custom Domain
                  a.btn-plus-feature.text-right(data-container='body', data-toggle='popover', data-placement='right', data-content='Move your domain to Webriq')
                    em.plus-icon
                      em.fa.fa-info
                td.td-pro.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
                td.td-limiteless.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
              tr
                td.td-feature
                  | Domain Aliases
                  a.btn-plus-feature.text-right(data-container='body', data-toggle='popover', data-placement='right', data-content='Point more domains to one website (maximum 5)')
                    em.plus-icon
                      em.fa.fa-info
                td.td-pro.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
                td.td-limiteless.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
              tr
                td.td-feature
                  | Subdomain
                  a.btn-plus-feature.text-right.subDomain(data-container='body', data-toggle='popover')
                    em.plus-icon
                      em.fa.fa-info
                td.td-pro.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
                td.td-limiteless.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
              tr
                td.td-feature
                  | Global CDN Network
                  a.btn-plus-feature.text-right(data-container='body', data-toggle='popover', data-placement='right', data-content='Sites are served straight out of our CDN nodes with low latency')
                    em.plus-icon
                      em.fa.fa-info
                td.td-pro.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
                td.td-limiteless.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
              tr
                td.td-feature
                  | Private Git Repository
                  a.btn-plus-feature.text-right(data-container='body', data-toggle='popover', data-placement='right', data-content='Links your website with Webriq Github Private Repository')
                    em.plus-icon
                      em.fa.fa-info
                td.td-pro.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
                td.td-limiteless.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
              tr
                td.td-feature
                  | Additional Team Members
                  a.btn-plus-feature.text-right(data-container='body', data-toggle='popover', data-placement='right', data-content='Roles and permissions for additional team members (up to 5)')
                    em.plus-icon
                      em.fa.fa-info
                td.td-pro.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
                td.td-limiteless.text-center
                  em.fa.fa-check.check1(aria-hidden='true')

        #WebriQshops.tab-pane
          table.table.table-bordered
            thead
              tr
                th.pricing-nb
                th.pricing-nb.text-center
                  a.text-white(href='#', data-toggle='modal', data-target='#myModal2') Get A Quote
                th.pricing-nb.text-center
                  a.text-white(href='#', data-toggle='modal', data-target='#myModal2') Get A Quote
              tr
                th
                  h3.text-center.text-white.mt-10.mb-0 Features
                  p.text-center.text-white
                    | Click
                    em.plus-icon
                      em.fa.fa-info
                    |  for extra info
                th
                  h3.text-center.text-white.mt-0.mb-25(style='font-size: 30px;') Pro
                th
                  h3.text-center.text-white.mt-0.mb-25(style='font-size: 30px;') Limitless
            tbody
              tr
                td.td-feature
                  | Custom Design
                  a.btn-plus-feature.text-right(data-container='body', data-toggle='popover', data-placement='right', data-content='Up to three Custom Designed Responsive Themes')
                    em.plus-icon
                      em.fa.fa-info
                td.td-pro.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
                td.td-limiteless.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
              tr
                td.td-feature
                  | Custom Template
                  a.btn-plus-feature.text-right(data-container='body', data-toggle='popover', data-placement='right', data-content='One Custom Developed Responsive Themes')
                    em.plus-icon
                      em.fa.fa-info
                td.td-pro.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
                td.td-limiteless.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
              tr
                td.td-feature
                  | Products
                  a.btn-plus-feature.text-right(data-container='body', data-toggle='popover', data-placement='right', data-content='Unlimited Number of Products, Categories and sub categories')
                    em.plus-icon
                      em.fa.fa-info
                td.td-pro.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
                td.td-limiteless.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
              tr
                td.td-feature
                  | Digital Products
                  a.btn-plus-feature.text-right(data-container='body', data-toggle='popover', data-placement='right', data-content='Unlimited Number of Digital Products that can be downloaded')
                    em.plus-icon
                      em.fa.fa-info
                td.td-pro.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
                td.td-limiteless.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
              tr
                td.td-feature
                  | Reviews
                  a.btn-plus-feature.text-right(data-container='body', data-toggle='popover', data-placement='right', data-content='Let your products be reviewed by customers and experts in your business area')
                    em.plus-icon
                      em.fa.fa-info
                td.td-pro.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
                td.td-limiteless.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
              tr
                td.td-feature
                  | Embed
                  a.btn-plus-feature.text-right(data-container='body', data-toggle='popover', data-placement='right', data-content='Embed all or portions of your products in other websites or Social Media accounts like Facebook and Pinterest')
                    em.plus-icon
                      em.fa.fa-info
                td.td-pro.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
                td.td-limiteless.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
              tr
                td.td-feature
                  | Content Manager
                  a.btn-plus-feature.text-right(data-container='body', data-toggle='popover', data-placement='right', data-content='Unlimited number of Pages for related content, i.e. about us, terms and conditions, Shipping terms, return policy')
                    em.plus-icon
                      em.fa.fa-info
                td.td-pro.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
                td.td-limiteless.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
              tr
                td.td-feature
                  | Newsletter Sign-up
                  a.btn-plus-feature.text-right(data-container='body', data-toggle='popover', data-placement='right', data-content='Build a list of customers that you can reach through E-mail and Newsletter Marketing')
                    em.plus-icon
                      em.fa.fa-info
                td.td-pro.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
                td.td-limiteless.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
              tr
                td.td-feature
                  | Chat
                  a.btn-plus-feature.text-right(data-container='body', data-toggle='popover', data-placement='right', data-content='Chat box lets you chat with customers and give them real-time support.')
                    em.plus-icon
                      em.fa.fa-info
                td.td-pro.text-center
                  em.fa.fa-times(aria-hidden='true')
                td.td-limiteless.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
              tr
                td.td-feature
                  | Basic SSL
                  a.btn-plus-feature.text-right(data-container='body', data-toggle='popover', data-placement='right', data-content='Enable HTTPS for your site. A Free SNI SSL Certificate is included in your plan')
                    em.plus-icon
                      em.fa.fa-info
                td.td-pro.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
                td.td-limiteless.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
              tr
                td.td-feature
                  | Shipping Logic
                  a.btn-plus-feature.text-right(data-container='body', data-toggle='popover', data-placement='right', data-content='Set-up of various shipping logics applicable to your business model')
                    em.plus-icon
                      em.fa.fa-info
                td.td-basic.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
                td.td-pro.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
              tr
                td.td-feature
                  | Shipping Engine
                  a.btn-plus-feature.text-right(data-container='body', data-toggle='popover', data-placement='right', data-content='Set-up of a shipping engine to automate and calculate all your shipments. Fedex, UPS and Australian Post')
                    em.plus-icon
                      em.fa.fa-info
                td.td-basic.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
                td.td-pro.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
              tr
                td.td-feature
                  | Paypal Express
                  a.btn-plus-feature.text-right(data-container='body', data-toggle='popover', data-placement='right', data-content='Set-up your shop to include credit card and Paypal payments through Paypal and Paypal Express')
                    em.plus-icon
                      em.fa.fa-info
                td.td-pro.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
                td.td-limiteless.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
              tr
                td.td-feature
                  | Payment Gateways
                  a.btn-plus-feature.text-right(data-container='body', data-toggle='popover', data-placement='right', data-content='Set-up of additional payment gateways such as Stripe or Braintree')
                    em.plus-icon
                      em.fa.fa-info
                td.td-pro.text-center
                  em.fa.fa-times(aria-hidden='true')
                td.td-limiteless.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
              tr
                td.td-feature
                  | E-mail Support
                  a.btn-plus-feature.text-right.E-mail-Support(data-container='body', data-toggle='popover')
                    em.plus-icon
                      em.fa.fa-info
                td.td-pro.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
                td.td-limiteless.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
              tr
                td.td-feature
                  | Ticketing Support
                  a.btn-plus-feature.text-right.Ticketing-Support(data-container='body', data-toggle='popover')
                    em.plus-icon
                      em.fa.fa-info
                td.td-pro.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
                td.td-limiteless.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
              tr
                td.td-feature
                  | Slack Chat Support
                  a.btn-plus-feature.text-right(data-container='body', data-toggle='popover', data-placement='right', data-content='Request Content updates through a dedicated Slack communication channel')
                    em.plus-icon
                      em.fa.fa-info
                td.td-pro.text-center
                  em.fa.fa-times(aria-hidden='true')
                td.td-limiteless.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
              tr
                td.td-feature
                  | Trello Project Management
                  a.btn-plus-feature.text-right.Custom-Domain(data-container='body', data-toggle='popover', data-placement='right', data-content='Project workflow through Trello')
                    em.plus-icon
                      em.fa.fa-info
                td.td-pro.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
                td.td-limiteless.text-center
                  em.fa.fa-check.check1(aria-hidden='true')   
              tr
                td.td-feature
                  | Custom Domain
                  a.btn-plus-feature.text-right(data-container='body', data-toggle='popover', data-placement='right', data-content='Move your domain to Webfactories.')
                    em.plus-icon
                      em.fa.fa-info
                td.td-pro.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
                td.td-limiteless.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
              tr
                td.td-feature
                  | Domain Aliases
                  a.btn-plus-feature.text-right(data-container='body', data-toggle='popover', data-placement='right', data-content='Point more domains to multiple Top Level domains.')
                    em.plus-icon
                      em.fa.fa-info
                td.td-pro.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
                td.td-limiteless.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
              tr
                td.td-feature
                  | Subdomain
                  a.btn-plus-feature.text-right(data-container='body', data-toggle='popover', data-placement='right', data-content='Your site has a subdomain on WebriQshops Top level domain')
                    em.plus-icon
                      em.fa.fa-info
                td.td-pro.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
                td.td-limiteless.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
              tr
                td.td-feature
                  | Cloud Instances
                  a.btn-plus-feature.text-right(data-container='body', data-toggle='popover', data-placement='right', data-content='Sites hosted on Webfactories are served straight out of our Cloud instances')
                    em.plus-icon
                      em.fa.fa-info
                td.td-pro.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
                td.td-limiteless.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
              tr
                td.td-feature
                  | Additional Team Members
                  a.btn-plus-feature.text-right(data-container='body', data-toggle='popover', data-placement='right', data-content='Roles and permissions for additional team members (up to 5)')
                    em.plus-icon
                      em.fa.fa-info
                td.td-pro.text-center
                  em.fa.fa-check.check1(aria-hidden='true')
                td.td-limiteless.text-center
                  em.fa.fa-check.check1(aria-hidden='true')


    div#pricing_mobilesec.container.responsive.pricing.pt-40.pb-40
      .container-fluid#tab_cont
        .row.text-center
          ul.eq-ui-tabs
            li.eq-ui-tab
              a.active(href='#WebriQpagesul', data-toggle='tab') WebriQpages
            li.eq-ui-tab
              a(href='#WebriQshopsul', data-toggle='tab') WebriQshops
      .tab-content.mt-40
        #WebriQpagesul.tab-pane.active
          // - WebriqPages Pro
          #accordion2.panel-group.mt-20
            .accordion-btn
              a.text-center.text-white(href='#', data-toggle='modal', data-target='#myModal') GET A QUOTE
            .accordion-header
              h3.text-center.text-white Pro
            .panel.panel-default
              .panel-heading
                | Basic Custom Design
                a.btn-plus-feature.text-right(href='#WP-P-Custom-Design', data-toggle='collapse', data-parent='#accordion2')
                  em.plus-icon
                    em.fa.fa-info
              #WP-P-Custom-Design.panel-collapse.collapse
                .panel-body One Custom Designed Mobile Responsive Theme
            .panel.panel-default
              .panel-heading
                | Full Custom Design
                a.btn-plus-feature.text-right(href='#WP-P-Custom-Template', data-toggle='collapse', data-parent='#accordion2')
                  em.plus-icon
                    em.fa.fa-info
              #WP-P-Custom-Template.panel-collapse.collapse
                .panel-body Up to three Custom Developed Responsive Themes
            .panel.panel-default
              .panel-heading
                | Custom Coded Template
                a.btn-plus-feature.text-right(href='#WP-P-Pages', data-toggle='collapse', data-parent='#accordion2')
                  em.plus-icon
                    em.fa.fa-info
              #WP-P-Pages.panel-collapse.collapse
                .panel-body
                  | Coding of one Mobile Responsive Template
            .panel.panel-default
              .panel-heading
                | Pages
                a.btn-plus-feature.text-right(href='#WP-P-Blogs', data-toggle='collapse', data-parent='#accordion2')
                  em.plus-icon
                    em.fa.fa-info
              #WP-P-Blogs.panel-collapse.collapse
                .panel-body
                  | Limited Number (up to 25) of Rich Media Pages with text, graphics, pictures, audio and video
            .panel.panel-default
              .panel-heading
                | Pages
                a.btn-plus-feature.text-right(href='#WP-P-Blogs11', data-toggle='collapse', data-parent='#accordion2')
                  em.plus-icon
                    em.fa.fa-info
              #WP-P-Blogs11.panel-collapse.collapse
                .panel-body
                  | Unlimited Number of Rich Media Pages with text, graphics, pictures, audio and video
            .panel.panel-default
              .panel-heading
                | Blog and Articles
                a.btn-plus-feature.text-right(href='#WP-P-HTML', data-toggle='collapse', data-parent='#accordion2')
                  em.plus-icon
                    em.fa.fa-info
              #WP-P-HTML.panel-collapse.collapse
                .panel-body
                  | Limited Number of Blog and Article Posts
            .panel.panel-default
              .panel-heading
                | Blog and Articles
                a.btn-plus-feature.text-right(href='#WP-P-Newsletter', data-toggle='collapse', data-parent='#accordion2')
                  em.plus-icon
                    em.fa.fa-info
              #WP-P-Newsletter.panel-collapse.collapse
                .panel-body
                  | Unlimited Number of Blog and Article Posts
            .panel.panel-default
              .panel-heading
                | E-mail Marketing
                a.btn-plus-feature.text-right(href='#WP-P-Email-Marketing', data-toggle='collapse', data-parent='#accordion2')
                  em.plus-icon
                    em.fa.fa-info
              #WP-P-Email-Marketing.panel-collapse.collapse
                .panel-body
                  | Set-up with a dedicated Mailchimp account for up to 2,000 customers and 12,000 emails sent per month
            .panel.panel-default
              .panel-heading
                | Web Forms
                a.btn-plus-feature.text-right(href='#WP-P-Web', data-toggle='collapse', data-parent='#accordion2')
                  em.plus-icon
                    em.fa.fa-info
              #WP-P-Web.panel-collapse.collapse
                .panel-body
                  | Dedicated Form to gather leads and contacts from one or more of your landing pages
            .panel.panel-default
              .panel-heading
                | CRM
                a.btn-plus-feature.text-right(href='#WP-P-CRM', data-toggle='collapse', data-parent='#accordion2')
                  em.plus-icon
                    em.fa.fa-info
              #WP-P-CRM.panel-collapse.collapse
                .panel-body Set-up of a dedicated Zoho CRM account for up to 10 users
            .panel.panel-default
              .panel-heading
                | Social Media
                a.btn-plus-feature.text-right(href='#WP-P-Social', data-toggle='collapse', data-parent='#accordion2')
                  em.plus-icon
                    em.fa.fa-info
              #WP-P-Social.panel-collapse.collapse
                .panel-body
                  | Website is integrated with your social media assets, like Twitter, Facebook, Instagram, Google
            .panel.panel-default
              .panel-heading
                | SSL (https)
                a.btn-plus-feature.text-right(href='#WP-P-Social11', data-toggle='collapse', data-parent='#accordion2')
                  em.plus-icon
                    em.fa.fa-info
              #WP-P-Social11.panel-collapse.collapse
                .panel-body
                  | SNI SSL Certificate is included for each Top Level Domain
            .panel.panel-default
              .panel-heading
                | Continuous Deployment
                a.btn-plus-feature.text-right(href='#WP-P-Chat', data-toggle='collapse', data-parent='#accordion2')
                  em.plus-icon
                    em.fa.fa-info
              #WP-P-Chat.panel-collapse.collapse
                .panel-body Continuous deployment services, including content updates
            .panel.panel-default
              .panel-heading
                | E-mail Support
                a.btn-plus-feature.text-right(href='#WP-P-EmailSupport', data-toggle='collapse', data-parent='#accordion2')
                  em.plus-icon
                    em.fa.fa-info
              #WP-P-EmailSupport.panel-collapse.collapse
                .panel-body
                  | Sent your request to
                  a(href='mailto:support@helpdesk.webriq.com') support@helpdesk.webriq.com
                  |  and we will get back to you within 24 hours
            .panel.panel-default
              .panel-heading
                | Ticketing Support
                a.btn-plus-feature.text-right(href='#WP-P-Ticketing', data-toggle='collapse', data-parent='#accordion2')
                  em.plus-icon
                    em.fa.fa-info
              #WP-P-Ticketing.panel-collapse.collapse
                .panel-body
                  | Request new builds and other related service issues to
                  a(href='http://helpdesk.webriq.com', target='_blank') helpdesk.webriq.com
            .panel.panel-default
              .panel-heading
                | Slack Chat Support
                a.btn-plus-feature.text-right(href='#WP-P-Deployment', data-toggle='collapse', data-parent='#accordion2')
                  em.plus-icon
                    em.fa.fa-info
              #WP-P-Deployment.panel-collapse.collapse
                .panel-body
                  | Request Content updates through a dedicated Slack communication channel
            .panel.panel-default
              .panel-heading
                | Trello Project Management
                a.btn-plus-feature.text-right(href='#WP-P-Deployment11', data-toggle='collapse', data-parent='#accordion2')
                  em.plus-icon
                    em.fa.fa-info
              #WP-P-Deployment11.panel-collapse.collapse
                .panel-body
                  | Project workflow through Trello
            .panel.panel-default
              .panel-heading
                | Custom Domain
                a.btn-plus-feature.text-right(href='#WP-P-Domain', data-toggle='collapse', data-parent='#accordion2')
                  em.plus-icon
                    em.fa.fa-info
              #WP-P-Domain.panel-collapse.collapse
                .panel-body
                  | Move your domain to Webriq
            .panel.panel-default
              .panel-heading
                | Domain Aliases
                a.btn-plus-feature.text-right(href='#WP-P-Aliases', data-toggle='collapse', data-parent='#accordion2')
                  em.plus-icon
                    em.fa.fa-info
              #WP-P-Aliases.panel-collapse.collapse
                .panel-body
                  | Point more domains to one website (maximum 5)
            .panel.panel-default
              .panel-heading
                | Subdomain
                a.btn-plus-feature.text-right(href='#WP-P-Subdomain', data-toggle='collapse', data-parent='#accordion2')
                  em.plus-icon
                    em.fa.fa-info
              #WP-P-Subdomain.panel-collapse.collapse
                .panel-body Subdomain on
                  a(href="https://www.webriq.com") www.webriq.com
            .panel.panel-default
              .panel-heading
                | Global CDN Network
                a.btn-plus-feature.text-right(href='#WP-P-Global', data-toggle='collapse', data-parent='#accordion2')
                  em.plus-icon
                    em.fa.fa-info
              #WP-P-Global.panel-collapse.collapse
                .panel-body
                  | Sites are served straight out of our CDN nodes with low latency
            .panel.panel-default
              .panel-heading
                | Private Git Repository
                a.btn-plus-feature.text-right(href='#WP-P-Links', data-toggle='collapse', data-parent='#accordion2')
                  em.plus-icon
                    em.fa.fa-info
              #WP-P-Links.panel-collapse.collapse
                .panel-body
                  | Links your website with Webriq Github Private Repository
            .panel.panel-default
              .panel-heading
                | Adding Team Members
                a.btn-plus-feature.text-right(href='#WP-P-Versioning', data-toggle='collapse', data-parent='#accordion2')
                  em.plus-icon
                    em.fa.fa-info
              #WP-P-Versioning.panel-collapse.collapse
                .panel-body
                  | Roles and permissions for additional team members (up to 5)
          // - WebriqPages Limitless
          #accordion3.panel-group.mt-20
            .accordion-btn
              a.text-center.text-white(href='#', data-toggle='modal', data-target='#myModal') GET A QUOTE
            .accordion-header
              h3.text-center.text-white Limitless
            .panel.panel-default
              .panel-heading
                | Basic Custom Design
                a.btn-plus-feature.text-right(href='#WP-P-Custom-Design1', data-toggle='collapse', data-parent='#accordion3')
                  em.plus-icon
                    em.fa.fa-info
              #WP-P-Custom-Design1.panel-collapse.collapse
                .panel-body One Custom Designed Mobile Responsive Theme
            .panel.panel-default
              .panel-heading
                | Full Custom Design
                a.btn-plus-feature.text-right(href='#WP-P-Custom-Template1', data-toggle='collapse', data-parent='#accordion3')
                  em.plus-icon
                    em.fa.fa-info
              #WP-P-Custom-Template1.panel-collapse.collapse
                .panel-body Up to three Custom Developed Responsive Themes
            .panel.panel-default
              .panel-heading
                | Custom Coded Template
                a.btn-plus-feature.text-right(href='#WP-P-Pages1', data-toggle='collapse', data-parent='#accordion3')
                  em.plus-icon
                    em.fa.fa-info
              #WP-P-Pages1.panel-collapse.collapse
                .panel-body
                  | Coding of one Mobile Responsive Template
            .panel.panel-default
              .panel-heading
                | Pages
                a.btn-plus-feature.text-right(href='#WP-P-Blogs1', data-toggle='collapse', data-parent='#accordion3')
                  em.plus-icon
                    em.fa.fa-info
              #WP-P-Blogs1.panel-collapse.collapse
                .panel-body
                  | Limited Number (up to 25) of Rich Media Pages with text, graphics, pictures, audio and video
            .panel.panel-default
              .panel-heading
                | Pages
                a.btn-plus-feature.text-right(href='#WP-P-Blogs2', data-toggle='collapse', data-parent='#accordion3')
                  em.plus-icon
                    em.fa.fa-info
              #WP-P-Blogs2.panel-collapse.collapse
                .panel-body
                  | Unlimited Number of Rich Media Pages with text, graphics, pictures, audio and video
            .panel.panel-default
              .panel-heading
                | Blog and Articles
                a.btn-plus-feature.text-right(href='#WP-P-HTML1', data-toggle='collapse', data-parent='#accordion3')
                  em.plus-icon
                    em.fa.fa-info
              #WP-P-HTML1.panel-collapse.collapse
                .panel-body
                  | Limited Number of Blog and Article Posts
            .panel.panel-default
              .panel-heading
                | Blog and Articles
                a.btn-plus-feature.text-right(href='#WP-P-Newsletter1', data-toggle='collapse', data-parent='#accordion3')
                  em.plus-icon
                    em.fa.fa-info
              #WP-P-Newsletter1.panel-collapse.collapse
                .panel-body
                  | Unlimited Number of Blog and Article Posts
            .panel.panel-default
              .panel-heading
                | E-mail Marketing
                a.btn-plus-feature.text-right(href='#WP-P-Email-Marketing1', data-toggle='collapse', data-parent='#accordion3')
                  em.plus-icon
                    em.fa.fa-info
              #WP-P-Email-Marketing1.panel-collapse.collapse
                .panel-body
                  | Set-up with a dedicated Mailchimp account for up to 2,000 customers and 12,000 emails sent per month
            .panel.panel-default
              .panel-heading
                | Web Forms
                a.btn-plus-feature.text-right(href='#WP-P-Web1', data-toggle='collapse', data-parent='#accordion3')
                  em.plus-icon
                    em.fa.fa-info
              #WP-P-Web1.panel-collapse.collapse
                .panel-body
                  | Dedicated Form to gather leads and contacts from one or more of your landing pages
            .panel.panel-default
              .panel-heading
                | CRM
                a.btn-plus-feature.text-right(href='#WP-P-CRM1', data-toggle='collapse', data-parent='#accordion3')
                  em.plus-icon
                    em.fa.fa-info
              #WP-P-CRM1.panel-collapse.collapse
                .panel-body Set-up of a dedicated Zoho CRM account for up to 10 users
            .panel.panel-default
              .panel-heading
                | Social Media
                a.btn-plus-feature.text-right(href='#WP-P-Social1', data-toggle='collapse', data-parent='#accordion3')
                  em.plus-icon
                    em.fa.fa-info
              #WP-P-Social1.panel-collapse.collapse
                .panel-body
                  | Website is integrated with your social media assets, like Twitter, Facebook, Instagram, Google
            .panel.panel-default
              .panel-heading
                | SSL (https)
                a.btn-plus-feature.text-right(href='#WP-P-Social2', data-toggle='collapse', data-parent='#accordion3')
                  em.plus-icon
                    em.fa.fa-info
              #WP-P-Social2.panel-collapse.collapse
                .panel-body
                  | SNI SSL Certificate is included for each Top Level Domain
            .panel.panel-default
              .panel-heading
                | Continuous Deployment
                a.btn-plus-feature.text-right(href='#WP-P-Chat1', data-toggle='collapse', data-parent='#accordion3')
                  em.plus-icon
                    em.fa.fa-info
              #WP-P-Chat1.panel-collapse.collapse
                .panel-body Continuous deployment services, including content updates
            .panel.panel-default
              .panel-heading
                | E-mail Support
                a.btn-plus-feature.text-right(href='#WP-P-EmailSupport1', data-toggle='collapse', data-parent='#accordion3')
                  em.plus-icon
                    em.fa.fa-info
              #WP-P-EmailSupport1.panel-collapse.collapse
                .panel-body
                  | Sent your request to
                  a(href='mailto:support@helpdesk.webriq.com') support@helpdesk.webriq.com
                  |  and we will get back to you within 24 hours
            .panel.panel-default
              .panel-heading
                | Ticketing Support
                a.btn-plus-feature.text-right(href='#WP-P-Ticketing1', data-toggle='collapse', data-parent='#accordion3')
                  em.plus-icon
                    em.fa.fa-info
              #WP-P-Ticketing1.panel-collapse.collapse
                .panel-body
                  | Request new builds and other related service issues to
                  a(href='http://helpdesk.webriq.com', target='_blank') helpdesk.webriq.com
            .panel.panel-default
              .panel-heading
                | Slack Chat Support
                a.btn-plus-feature.text-right(href='#WP-P-Deployment1', data-toggle='collapse', data-parent='#accordion3')
                  em.plus-icon
                    em.fa.fa-info
              #WP-P-Deployment1.panel-collapse.collapse
                .panel-body
                  | Request Content updates through a dedicated Slack communication channel
            .panel.panel-default
              .panel-heading
                | Trello Project Management
                a.btn-plus-feature.text-right(href='#WP-P-Deployment2', data-toggle='collapse', data-parent='#accordion3')
                  em.plus-icon
                    em.fa.fa-info
              #WP-P-Deployment2.panel-collapse.collapse
                .panel-body
                  | Project workflow through Trello
            .panel.panel-default
              .panel-heading
                | Custom Domain
                a.btn-plus-feature.text-right(href='#WP-P-Domain1', data-toggle='collapse', data-parent='#accordion3')
                  em.plus-icon
                    em.fa.fa-info
              #WP-P-Domain1.panel-collapse.collapse
                .panel-body
                  | Move your domain to Webriq
            .panel.panel-default
              .panel-heading
                | Domain Aliases
                a.btn-plus-feature.text-right(href='#WP-P-Aliases1', data-toggle='collapse', data-parent='#accordion3')
                  em.plus-icon
                    em.fa.fa-info
              #WP-P-Aliases1.panel-collapse.collapse
                .panel-body
                  | Point more domains to one website (maximum 5)
            .panel.panel-default
              .panel-heading
                | Subdomain
                a.btn-plus-feature.text-right(href='#WP-P-Subdomain1', data-toggle='collapse', data-parent='#accordion3')
                  em.plus-icon
                    em.fa.fa-info
              #WP-P-Subdomain1.panel-collapse.collapse
                .panel-body Subdomain on
                  a(href="https://www.webriq.com") www.webriq.com
            .panel.panel-default
              .panel-heading
                | Global CDN Network
                a.btn-plus-feature.text-right(href='#WP-P-Global1', data-toggle='collapse', data-parent='#accordion3')
                  em.plus-icon
                    em.fa.fa-info
              #WP-P-Global1.panel-collapse.collapse
                .panel-body
                  | Sites are served straight out of our CDN nodes with low latency
            .panel.panel-default
              .panel-heading
                | Private Git Repository
                a.btn-plus-feature.text-right(href='#WP-P-Links1', data-toggle='collapse', data-parent='#accordion3')
                  em.plus-icon
                    em.fa.fa-info
              #WP-P-Links1.panel-collapse.collapse
                .panel-body
                  | Links your website with Webriq Github Private Repository
            .panel.panel-default
              .panel-heading
                | Adding Team Members
                a.btn-plus-feature.text-right(href='#WP-P-Versioning1', data-toggle='collapse', data-parent='#accordion3')
                  em.plus-icon
                    em.fa.fa-info
              #WP-P-Versioning1.panel-collapse.collapse
                .panel-body
                  | Roles and permissions for additional team members (up to 5)

        #WebriQshopsul.tab-pane
          // - WebriqShops Pro
          #accordion5.panel-group.mt-20
            .accordion-btn
              a.text-center.text-white(href='#', data-toggle='modal', data-target='#myModal2') GET A QUOTE
            .accordion-header
              h3.text-center.text-white Pro
            .panel.panel-default
              .panel-heading
                | Custom Design
                a.btn-plus-feature.text-right(href='#WS-P-Custom-Design', data-toggle='collapse', data-parent='#accordion5')
                  em.plus-icon
                    em.fa.fa-info
              #WS-P-Custom-Design.panel-collapse.collapse
                .panel-body Up to three Custom Designed Responsive Themes
            .panel.panel-default
              .panel-heading
                | Custom Template
                a.btn-plus-feature.text-right(href='#WS-P-Custom-Template', data-toggle='collapse', data-parent='#accordion5')
                  em.plus-icon
                    em.fa.fa-info
              #WS-P-Custom-Template.panel-collapse.collapse
                .panel-body One Custom Developed Responsive Themes
            .panel.panel-default
              .panel-heading
                | Products
                a.btn-plus-feature.text-right(href='#WS-P-Products', data-toggle='collapse', data-parent='#accordion5')
                  em.plus-icon
                    em.fa.fa-info
              #WS-P-Products.panel-collapse.collapse
                .panel-body Unlimited Number of Products, Categories and sub categories
            .panel.panel-default
              .panel-heading
                | Digital Products
                a.btn-plus-feature.text-right(href='#WS-P-Digital', data-toggle='collapse', data-parent='#accordion5')
                  em.plus-icon
                    em.fa.fa-info
              #WS-P-Digital.panel-collapse.collapse
                .panel-body Unlimited Number of Digital Products that can be downloaded
            .panel.panel-default
              .panel-heading
                | Reviews
                a.btn-plus-feature.text-right(href='#WS-P-Reviews', data-toggle='collapse', data-parent='#accordion5')
                  em.plus-icon
                    em.fa.fa-info
              #WS-P-Reviews.panel-collapse.collapse
                .panel-body Let your products be reviewed by customers and experts in your business area
            .panel.panel-default
              .panel-heading
                | Embed
                a.btn-plus-feature.text-right(href='#WS-P-Embed', data-toggle='collapse', data-parent='#accordion5')
                  em.plus-icon
                    em.fa.fa-info
              #WS-P-Embed.panel-collapse.collapse
                .panel-body
                  | Embed all or portions of your products in other websites or Social Media accounts like Facebook and Pinterest
            .panel.panel-default
              .panel-heading
                | Content Manager
                a.btn-plus-feature.text-right(href='#WS-P-Content', data-toggle='collapse', data-parent='#accordion5')
                  em.plus-icon
                    em.fa.fa-info
              #WS-P-Content.panel-collapse.collapse
                .panel-body
                  | Unlimited number of Pages for related content, i.e. about us, terms and conditions, Shipping terms, return policy
            .panel.panel-default
              .panel-heading
                | Newsletter Sign-up
                a.btn-plus-feature.text-right(href='#WS-P-Newsletter', data-toggle='collapse', data-parent='#accordion5')
                  em.plus-icon
                    em.fa.fa-info
              #WS-P-Newsletter.panel-collapse.collapse
                .panel-body
                  | Build a list of customers that you can reach through E-mail and Newsletter Marketing
            .panel.panel-default
              .panel-heading
                | Chat
                a.btn-plus-feature.text-right(href='#WS-P-Chat', data-toggle='collapse', data-parent='#accordion5')
                  em.plus-icon
                    em.fa.fa-info
              #WS-P-Chat.panel-collapse.collapse
                .panel-body Chat box lets you chat with customers and give them real-time support.
            .panel.panel-default
              .panel-heading
                | Basic SSL
                a.btn-plus-feature.text-right(href='#WS-P-Basic', data-toggle='collapse', data-parent='#accordion5')
                  em.plus-icon
                    em.fa.fa-info
              #WS-P-Basic.panel-collapse.collapse
                .panel-body Enable HTTPS for your site. A Free SNI SSL Certificate is included in your plan
            .panel.panel-default
              .panel-heading
                | Shipping Logic
                a.btn-plus-feature.text-right(href='#WS-P-Logic', data-toggle='collapse', data-parent='#accordion5')
                  em.plus-icon
                    em.fa.fa-info
              #WS-P-Logic.panel-collapse.collapse
                .panel-body Set-up of various shipping logics applicable to your business model
            .panel.panel-default
              .panel-heading
                | Shipping Engine
                a.btn-plus-feature.text-right(href='#WS-P-Engine', data-toggle='collapse', data-parent='#accordion5')
                  em.plus-icon
                    em.fa.fa-info
              #WS-P-Engine.panel-collapse.collapse
                .panel-body
                  | Set-up of a shipping engine to automate and calculate all your shipments. Fedex, UPS and Australian Post
            .panel.panel-default
              .panel-heading
                | Paypal Express
                a.btn-plus-feature.text-right(href='#WS-P-Express', data-toggle='collapse', data-parent='#accordion5')
                  em.plus-icon
                    em.fa.fa-info
              #WS-P-Express.panel-collapse.collapse
                .panel-body
                  | Set-up your shop to include credit card and Paypal payments through Paypal and Paypal Express
            .panel.panel-default
              .panel-heading
                | Payment Gateways
                a.btn-plus-feature.text-right(href='#WS-P-Gateways', data-toggle='collapse', data-parent='#accordion5')
                  em.plus-icon
                    em.fa.fa-info
              #WS-P-Gateways.panel-collapse.collapse
                .panel-body
                  | Set-up of additional payment gateways such as Stripe or Braintree
            .panel.panel-default
              .panel-heading
                | E-mail Support
                a.btn-plus-feature.text-right(href='#WS-P-EmailSupport', data-toggle='collapse', data-parent='#accordion5')
                  em.plus-icon
                    em.fa.fa-info
              #WS-P-EmailSupport.panel-collapse.collapse
                .panel-body
                  | Sent your request to
                  a(href='mailto:support@webriq.com') support@webriq.com
                  |  and we will get back to you within 24 hours
            .panel.panel-default
              .panel-heading
                | Ticketing Support
                a.btn-plus-feature.text-right(href='#WS-P-Ticketing', data-toggle='collapse', data-parent='#accordion5')
                  em.plus-icon
                    em.fa.fa-info
              #WS-P-Ticketing.panel-collapse.collapse
                .panel-body
                  | Request new builds and other related service issues to
                  a(href='http://helpdesk.webriq.com') helpdesk.webriq.com
            .panel.panel-default
              .panel-heading
                | Slack Chat Support
                a.btn-plus-feature.text-right(href='#slack_supp', data-toggle='collapse', data-parent='#accordion5')
                  em.plus-icon
                    em.fa.fa-info
              #slack_supp.panel-collapse.collapse
                .panel-body
                  | Request Content updates through a dedicated Slack communication channel
            .panel.panel-default
              .panel-heading
                | Trello Project Management
                a.btn-plus-feature.text-right(href='#trello-mang', data-toggle='collapse', data-parent='#accordion5')
                  em.plus-icon
                    em.fa.fa-info
              #trello-mang.panel-collapse.collapse
                .panel-body
                  | Project workflow through Trello
            .panel.panel-default
              .panel-heading
                | Custom Domain
                a.btn-plus-feature.text-right(href='#WS-P-Domain', data-toggle='collapse', data-parent='#accordion5')
                  em.plus-icon
                    em.fa.fa-info
              #WS-P-Domain.panel-collapse.collapse
                .panel-body
                  | Move your domain to Webfactories.
            .panel.panel-default
              .panel-heading
                | Domain Aliases
                a.btn-plus-feature.text-right(href='#WS-P-Aliases', data-toggle='collapse', data-parent='#accordion5')
                  em.plus-icon
                    em.fa.fa-info
              #WS-P-Aliases.panel-collapse.collapse
                .panel-body
                  | Point more domains to multiple Top Level domains.
            .panel.panel-default
              .panel-heading
                | Subdomain
                a.btn-plus-feature.text-right(href='#WS-P-Subdomain', data-toggle='collapse', data-parent='#accordion5')
                  em.plus-icon
                    em.fa.fa-info
              #WS-P-Subdomain.panel-collapse.collapse
                .panel-body Your site has a subdomain on WebriQshops Top level domain
            .panel.panel-default
              .panel-heading
                | Cloud Instances
                a.btn-plus-feature.text-right(href='#WS-P-Cloud', data-toggle='collapse', data-parent='#accordion5')
                  em.plus-icon
                    em.fa.fa-info
              #WS-P-Cloud.panel-collapse.collapse
                .panel-body
                  | Sites hosted on Webfactories are served straight out of our Cloud instances
            .panel.panel-default
              .panel-heading
                | Additional Team Members
                a.btn-plus-feature.text-right(href='#WS-P-Full', data-toggle='collapse', data-parent='#accordion5')
                  em.plus-icon
                    em.fa.fa-info
              #WS-P-Full.panel-collapse.collapse
                .panel-body Roles and permissions for additional team members (up to 5)
          // - WebriqShops Limitless
          #accordion6.panel-group.mt-20
            .accordion-btn
              a.text-center.text-white(href='#', data-toggle='modal', data-target='#myModal2') GET A QUOTE
            .accordion-header
              h3.text-center.text-white Limitless
            .panel.panel-default
              .panel-heading
                | Custom Design
                a.btn-plus-feature.text-right(href='#WS-P-Custom-Design1', data-toggle='collapse', data-parent='#accordion5')
                  em.plus-icon
                    em.fa.fa-info
              #WS-P-Custom-Design1.panel-collapse.collapse
                .panel-body Up to three Custom Designed Responsive Themes
            .panel.panel-default
              .panel-heading
                | Custom Template
                a.btn-plus-feature.text-right(href='#WS-P-Custom-Template1', data-toggle='collapse', data-parent='#accordion5')
                  em.plus-icon
                    em.fa.fa-info
              #WS-P-Custom-Template1.panel-collapse.collapse
                .panel-body One Custom Developed Responsive Themes
            .panel.panel-default
              .panel-heading
                | Products
                a.btn-plus-feature.text-right(href='#WS-P-Products1', data-toggle='collapse', data-parent='#accordion5')
                  em.plus-icon
                    em.fa.fa-info
              #WS-P-Products1.panel-collapse.collapse
                .panel-body Unlimited Number of Products, Categories and sub categories
            .panel.panel-default
              .panel-heading
                | Digital Products
                a.btn-plus-feature.text-right(href='#WS-P-Digital1', data-toggle='collapse', data-parent='#accordion5')
                  em.plus-icon
                    em.fa.fa-info
              #WS-P-Digital1.panel-collapse.collapse
                .panel-body Unlimited Number of Digital Products that can be downloaded
            .panel.panel-default
              .panel-heading
                | Reviews
                a.btn-plus-feature.text-right(href='#WS-P-Reviews1', data-toggle='collapse', data-parent='#accordion5')
                  em.plus-icon
                    em.fa.fa-info
              #WS-P-Reviews1.panel-collapse.collapse
                .panel-body Let your products be reviewed by customers and experts in your business area
            .panel.panel-default
              .panel-heading
                | Embed
                a.btn-plus-feature.text-right(href='#WS-P-Embed1', data-toggle='collapse', data-parent='#accordion5')
                  em.plus-icon
                    em.fa.fa-info
              #WS-P-Embed1.panel-collapse.collapse
                .panel-body
                  | Embed all or portions of your products in other websites or Social Media accounts like Facebook and Pinterest
            .panel.panel-default
              .panel-heading
                | Content Manager
                a.btn-plus-feature.text-right(href='#WS-P-Content1', data-toggle='collapse', data-parent='#accordion5')
                  em.plus-icon
                    em.fa.fa-info
              #WS-P-Content1.panel-collapse.collapse
                .panel-body
                  | Unlimited number of Pages for related content, i.e. about us, terms and conditions, Shipping terms, return policy
            .panel.panel-default
              .panel-heading
                | Newsletter Sign-up
                a.btn-plus-feature.text-right(href='#WS-P-Newsletter1', data-toggle='collapse', data-parent='#accordion5')
                  em.plus-icon
                    em.fa.fa-info
              #WS-P-Newsletter1.panel-collapse.collapse
                .panel-body
                  | Build a list of customers that you can reach through E-mail and Newsletter Marketing
            .panel.panel-default
              .panel-heading
                | Chat
                a.btn-plus-feature.text-right(href='#WS-P-Chat1', data-toggle='collapse', data-parent='#accordion5')
                  em.plus-icon
                    em.fa.fa-info
              #WS-P-Chat1.panel-collapse.collapse
                .panel-body Chat box lets you chat with customers and give them real-time support.
            .panel.panel-default
              .panel-heading
                | Basic SSL
                a.btn-plus-feature.text-right(href='#WS-P-Basic1', data-toggle='collapse', data-parent='#accordion5')
                  em.plus-icon
                    em.fa.fa-info
              #WS-P-Basic1.panel-collapse.collapse
                .panel-body Enable HTTPS for your site. A Free SNI SSL Certificate is included in your plan
            .panel.panel-default
              .panel-heading
                | Shipping Logic
                a.btn-plus-feature.text-right(href='#WS-P-Logic1', data-toggle='collapse', data-parent='#accordion5')
                  em.plus-icon
                    em.fa.fa-info
              #WS-P-Logic1.panel-collapse.collapse
                .panel-body Set-up of various shipping logics applicable to your business model
            .panel.panel-default
              .panel-heading
                | Shipping Engine
                a.btn-plus-feature.text-right(href='#WS-P-Engine1', data-toggle='collapse', data-parent='#accordion5')
                  em.plus-icon
                    em.fa.fa-info
              #WS-P-Engine1.panel-collapse.collapse
                .panel-body
                  | Set-up of a shipping engine to automate and calculate all your shipments. Fedex, UPS and Australian Post
            .panel.panel-default
              .panel-heading
                | Paypal Express
                a.btn-plus-feature.text-right(href='#WS-P-Express1', data-toggle='collapse', data-parent='#accordion5')
                  em.plus-icon
                    em.fa.fa-info
              #WS-P-Express1.panel-collapse.collapse
                .panel-body
                  | Set-up your shop to include credit card and Paypal payments through Paypal and Paypal Express
            .panel.panel-default
              .panel-heading
                | Payment Gateways
                a.btn-plus-feature.text-right(href='#WS-P-Gateways1', data-toggle='collapse', data-parent='#accordion5')
                  em.plus-icon
                    em.fa.fa-info
              #WS-P-Gateways1.panel-collapse.collapse
                .panel-body
                  | Set-up of additional payment gateways such as Stripe or Braintree
            .panel.panel-default
              .panel-heading
                | E-mail Support
                a.btn-plus-feature.text-right(href='#WS-P-EmailSupport1', data-toggle='collapse', data-parent='#accordion5')
                  em.plus-icon
                    em.fa.fa-info
              #WS-P-EmailSupport1.panel-collapse.collapse
                .panel-body
                  | Sent your request to
                  a(href='mailto:support@webriq.com') support@webriq.com
                  |  and we will get back to you within 24 hours
            .panel.panel-default
              .panel-heading
                | Ticketing Support
                a.btn-plus-feature.text-right(href='#WS-P-Ticketing1', data-toggle='collapse', data-parent='#accordion5')
                  em.plus-icon
                    em.fa.fa-info
              #WS-P-Ticketing1.panel-collapse.collapse
                .panel-body
                  | Request new builds and other related service issues to
                  a(href='http://helpdesk.webriq.com') helpdesk.webriq.com
            .panel.panel-default
              .panel-heading
                | Slack Chat Support
                a.btn-plus-feature.text-right(href='#slack_supp1', data-toggle='collapse', data-parent='#accordion5')
                  em.plus-icon
                    em.fa.fa-info
              #slack_supp1.panel-collapse.collapse
                .panel-body
                  | Request Content updates through a dedicated Slack communication channel
            .panel.panel-default
              .panel-heading
                | Trello Project Management
                a.btn-plus-feature.text-right(href='#trello-mang1', data-toggle='collapse', data-parent='#accordion5')
                  em.plus-icon
                    em.fa.fa-info
              #trello-mang1.panel-collapse.collapse
                .panel-body
                  | Project workflow through Trello
            .panel.panel-default
              .panel-heading
                | Custom Domain
                a.btn-plus-feature.text-right(href='#WS-P-Domain1', data-toggle='collapse', data-parent='#accordion5')
                  em.plus-icon
                    em.fa.fa-info
              #WS-P-Domain1.panel-collapse.collapse
                .panel-body
                  | Move your domain to Webfactories.
            .panel.panel-default
              .panel-heading
                | Domain Aliases
                a.btn-plus-feature.text-right(href='#WS-P-Aliases1', data-toggle='collapse', data-parent='#accordion5')
                  em.plus-icon
                    em.fa.fa-info
              #WS-P-Aliases1.panel-collapse.collapse
                .panel-body
                  | Point more domains to multiple Top Level domains.
            .panel.panel-default
              .panel-heading
                | Subdomain
                a.btn-plus-feature.text-right(href='#WS-P-Subdomain1', data-toggle='collapse', data-parent='#accordion5')
                  em.plus-icon
                    em.fa.fa-info
              #WS-P-Subdomain1.panel-collapse.collapse
                .panel-body Your site has a subdomain on WebriQshops Top level domain
            .panel.panel-default
              .panel-heading
                | Cloud Instances
                a.btn-plus-feature.text-right(href='#WS-P-Cloud1', data-toggle='collapse', data-parent='#accordion5')
                  em.plus-icon
                    em.fa.fa-info
              #WS-P-Cloud1.panel-collapse.collapse
                .panel-body
                  | Sites hosted on Webfactories are served straight out of our Cloud instances
            .panel.panel-default
              .panel-heading
                | Additional Team Members
                a.btn-plus-feature.text-right(href='#WS-P-Full1', data-toggle='collapse', data-parent='#accordion5')
                  em.plus-icon
                    em.fa.fa-info
              #WS-P-Full1.panel-collapse.collapse
                .panel-body Roles and permissions for additional team members (up to 5)
