extends general_custom

block content

    div(style='border-bottom: 1px solid #ddd; padding-top: 20px;')
      .container.responsive.static-iconize.pt-50.pb-40.mt-20
        .row
          .col-md-4.col-sm-6.text-center
            figure
              img(src='../img/responsive/multiplatform.png', alt='')
            .text-body
              h2 Multi Platform
              p For use on desktops, tablets and smarthphone
          .col-md-4.col-sm-6.text-center
            figure
              img(src='../img/responsive/fastandsecure.png', alt='')
            .text-body
              h2 Fast & Secure
              p Very secure solution with best industry practices and inline with PCI compliance
          .col-md-4.col-sm-6.text-center
            figure
              img(src='../img/responsive/quickandeasy.png', alt='')
            .text-body
              h2 Quick & Easy Process
              p
                | Large selection of payment and shipment methods integrated into standard shopping cart application
          .col-md-4.col-sm-6.text-center
            figure
              img(src='../img/responsive/gradefeatures.png', alt='')
            .text-body
              h2 Enterprise Grade Features
              p Equipped with many out of the box enterprise grade features at no cost
          .col-md-4.col-sm-6.text-center
            figure
              img(src='../img/responsive/expand.png', alt='')
            .text-body
              h2 Improve & Expand
              p Features continuously improve and expand as project moves forward

    // Innovative Technologies
    p  
    .container.responsive.innovative-technologies
      .row
        .col-md-12
          h3.subheading.text-center Innovative Technologies
          h2.text-center HTML5, CSS3, jQuery, Bootstrap
          br
          ul.list-unstyled.inline
            li
              img.img-responsive(src='../img/responsive/e-commerce-innovative-technoglogy-1.jpg', alt='')
            li
              img.img-responsive(src='../img/responsive/e-commerce-innovative-technoglogy-2.jpg', alt='')
            li
              img.img-responsive(src='../img/responsive/e-commerce-innovative-technoglogy-3.jpg', alt='')
            li
              img.img-responsive(src='../img/responsive/e-commerce-innovative-technoglogy-4.jpg', alt='')

    div(style='border-top: 1px solid #ddd; padding-top: 20px;')
        .container.responsive.extra-key-features.mb-20
          .row
            .col-md-12
              h2.text-center Other Key Features
          .row
            .col-sm-6.col-md-3
              p
                img(src='../img/responsive/e-commerce-extra-1.jpg', alt='')
              h3 Own your eCommerce
              p
                | Get full control of your online retail channels with powerful eCommerce software and shopping cart.
            .col-sm-6.col-md-3
              p
                img(src='../img/responsive/e-commerce-extra-2.jpg', alt='')
              h3 Sell Anything
              p
                | From different types of products to digital downloads we can handle any eCommerce business vertical.
            .col-sm-6.col-md-3
              p
                img(src='../img/responsive/e-commerce-extra-3.jpg', alt='')
              h3 Powerful Features
              p
                | A trusted eCommerce platform with a secure, robust core architecture and enterprise grade features.
            .col-sm-6.col-md-3
              p
                img(src='../img/responsive/e-commerce-extra-4.jpg', alt='')
              h3 Scalable & Flexible
              p
                | The platform is customizable to your specific business requirements and will support future business growth.
          .row
            .col-sm-6.col-md-3
              p
                img(src='../img/responsive/e-commerce-extra-5.jpg', alt='')
              h3 100% Mobile Solution
              p
                | Responsive design of storefront and admin are optimized for mobile and tablet devices as well as various computer screen sizes.
            .col-sm-6.col-md-3
              p
                img(src='../img/responsive/e-commerce-extra-6.jpg', alt='')
              h3 Easy to learn & simple to use
              p
                | No special training or knowledge is required to start selling online. Voice controlled and easy to use intuitive interface makes eCommerce management a breeze.
            .col-sm-6.col-md-3
              p
                img(src='../img/responsive/e-commerce-extra-7.jpg', alt='')
              h3 Feature-rich
              p
                | Equipped with many out of the box enterprise grade features at no additional cost. Features continuously improve and expand as the platform evolves.
            .col-sm-6.col-md-3
              p
                img(src='../img/responsive/e-commerce-extra-8.jpg', alt='')
              h3 Innovative Technology
              p
                | Shopping cart is powered by latest internet technologies and concepts, such as HTML5, Bootstrap, Jquery, AJAX, MVC, API and more scary acronyms.
          .row
            .col-sm-6.col-md-3
              p
                img(src='../img/responsive/e-commerce-extra-10.jpg', alt='')
              h3 API Enabled
              p
                | Provided with Storefront and Admin API to allow external integrations. Connection are made easy with RestFul JSON API.
            .col-sm-6.col-md-3
              p
                img(src='../img/responsive/e-commerce-extra-11.jpg', alt='')
              h3 Variety of Payments and Shippings
              p
                | Large selection of payment and shipment methods integrated into standard shopping cart application
            .col-sm-6.col-md-3
              p
                img(src='../img/responsive/e-commerce-extra-9.jpg', alt='')
              h3 Fast and Secure
              p
                | Fast performing and low computer resource consuming shopping cart application. Very secure solution with best industry practices and inline with PCI compliance.
