extends general_custom

block content

    .container.static-website.responsive.static-iconize.pt-50.pb-50.mt-20.mb-20
      .row
        .col-md-4.col-sm-6.text-center
          figure
            img(src='../img/static/superfast.png', alt='')
          .text-body
            h2 Superfast
            p
              | Your site will be served through a Content Delivery Network instead of a single server. That means much lower latency, much faster downloads and a near 100% uptime. If one of our servers goes down, another server takes over instantaneously.
        .col-md-4.col-sm-6.text-center
          figure
            img(src='../img/static/security.png', alt='')
          .text-body
            h2 Security
            p
              | Your site has no movable parts, no database to connect to or scripts that need to be executed and there is no way to inject malware. Malware, outdated scripts, denial of service attacks are of the past.
        .col-md-4.col-sm-6.text-center
          figure
            img(src='../img/static/simplicity.png', alt='')
          .text-body
            h2 Simplicity
            p
              | No need to optimize your website for faster database queries or faster downloads. When the website is build, it is build. Changes in the Template and the Content will automatically trigger a new build. The entire process takes no more then 20 seconds.
        .col-md-4.col-sm-6.text-center
          figure
            img(src='../img/static/cost-effective.png', alt='')
          .text-body
            h2 Cost
            p
              | It is cheaper to build, to maintain and to scale if needed. It all happens automatically. No need to procure more bandwidth or larger hosting service than you need, and no need to cover for occasional traffic spikes. If not money, it will save you a lot of headaches.
        .col-md-4.col-sm-6.text-center
          figure
            img(src='../img/static/User-Experience3.png', alt='')
          .text-body
            h2 Kick-ass User Experience Designs
            p
              | Since there is no need to set up and develop complex database structures for your website, all time is spent on User Experience designs and User Interface designs. That means repeat visits and visitor spending more time on your website.
        .col-md-4.col-sm-6.text-center
          figure
            img(src='../img/static/Full-Control4.png', alt='')
          .text-body
            h2 Full Control
            p
              | Whether it is the code or the content of your website, you are always in full control on all elements of your website. At any time updates on code and content can be made, as well as rolling back to previously published versions.
