@media only screen and (max-width:1024px)
  body #web-services-commerce .container .row .col-middle .col svg#tablet
    top -54px

  body #web-services-commerce .container .row .col-middle .col .services-icons ul li
    width 140px
    padding 14px 5px

  body #web-services-commerce .container .row .col-middle .col .services-icons
    width 320px


  body #web-services .container .row .col-right #modern-tech #phone
    width 332px
    top -14px
  body #contact-us .row .office .eq-ui-collapsible li .eq-ui-collapsible-body-inner
    padding 15px 5px



@media only screen and (max-width:980px)

  .office
    padding-right: 16px
    padding-left: 16px

  body #web-services-commerce .container .row .col-middle .col .services-icons ul li
    width  174px
    padding 35px 5px

  body #web-services-commerce .container .row .col-middle .col .services-icons
    width  380px

  body #web-services-commerce .container .row .col-middle .col svg#tablet
    top 0px


@media only screen and (max-width:800px)
  body .heading-1, body .slider .slider-heading
    font-size 44px

  #web-services
    .container
      .col-left, .col-right
        width 100%
      .col-left
        > .row
          margin-left 0px
          margin-right 0px
          width 48%
          float none
          display inline-block
          vertical-align  top


  body #web-services .container .row .col-right #modern-tech #phone
    width auto
    top 0px



@media screen and (max-width: 768px)

  .svg-earth-pattern img.animate-earth-small
    width: 300px

  .svg-earth-pattern img.animate-earth-large
    width: 500px


@media (min-width: 768px)
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand
      margin-left: -15px



@media only screen and (max-width: 767px)
  #web-services.container .col-left,
  #web-services .container .col-right
    width 100%
    clear both

  #trendssec .container .design-trends > div
    width:50%

  .slider-background  .slider
    margin-bottom:50px
    padding-top: 0px
    height: auto


  .slider-background  .slider .container > div
    width:50%
    float:left






@media only screen and (max-width: 640px)

  body #trendssec .container .design-trends > div
    min-height:0
    width:100%
    display:block

  #web-services .container .col-left > .row
    width:100%
    text-align:center

  #contact-us .container .row .col-xs-6
    width:100%


  .slider-background .slider .slider-heading
    font-size: 36px
    text-align:center
    margin-top: 150px

  .slider-background .slider .container > div
    float:none
    width:100%
    text-align:center


  body .heading-text, body .heading-1, body .slider .slider-heading
    font-size: 36px

  .svg-earth-pattern img.animate-earth-small
    width: 250px

  .svg-earth-pattern img.animate-earth-large
    width: 400px


  body #web-services-commerce .container .row .col-right
    margin-top 40px




@media only screen and (max-width: 600px)
  body #web-services-commerce .container .row .col-middle .col .services-icons ul li
    width 165px


  body #web-services-commerce .container .row .col-middle .col svg#tablet
    top:-8px

@media only screen and (max-width: 568px)
  body #web-services-commerce .container .row .col-middle .col .services-icons ul li
    width 160px
    padding 25px 5px
  .slider-navigator
    display none


@media only screen and (max-width:480px)


  body #web-services-commerce .container .row .col-middle .col
    height 498px

  body .slider .slider-navigator
    right  15px
    margin 0px auto
    text-align center
    width 90%
    top 65%

  body .slider .slider-navigator a
    display inline-block
    margin 6px


  body #web-services-commerce .container .row .col-middle .col .services-icons ul li
    width  125px
    padding 10px 5px



  body #web-services-commerce .container .row .col-middle .col svg#tablet
    top -76px


  body #web-services-commerce .container .row .col-middle .col .services-icons
    width 295px
    top 25%

@media only screen and (max-width: 414px)
  body #web-services-commerce .container .row .col-middle .col .services-icons ul li
    width  100px
    padding 10px 5px


  body #web-services-commerce .container .row .col-middle .col svg#tablet
    top  -100px

  body #web-services-commerce .container .row .col-middle .col .services-icons
    width  260px
    top  24%


  body #web-services-commerce .container .row .col-middle .col
    height 437px


  body #web-services .container .row .col-right #modern-tech #phone
    width 328px
    top -18px



@media only screen and (max-width: 375px)

  body #web-services-commerce .container .row .col-middle .col .services-icons
    top 23%

  body #web-services-commerce .container .row .col-middle .col

    height 396px

  body #web-services-commerce .container .row .col-middle .col svg#tablet
    top -130px

  body #web-services .container .row .col-right #modern-tech #phone
    width 280px
    top -67px
    left -2px





@media only screen and (max-width: 360px)

  body .slider .slider-heading
    line-height 1

  body #web-services-commerce .container .row .col-middle .col .services-icons ul li
    width  90px


  body #web-services-commerce .container .row .col-middle .col svg#tablet
    top -138px

  body #web-services-commerce .container .row .col-middle .col .services-icons
    width 220px

  body #web-services .container .row .col-right #modern-tech #phone
    width 280px
    top -67px


@media only screen and (max-width: 320px)
  body #web-services-commerce .container .row .col-middle .col .services-icons ul li
    width  80px
    padding 7px 5px

  body #web-services-commerce .container .row .col-middle .col .services-icons
    width  195px
    left 35px


  body #web-services-commerce .container .row .col-middle .col svg#tablet
    top  -160px

  body #web-services-commerce .container .row .col-middle .col
    height 330px

  body #web-services .container .row .col-right #modern-tech #phone
    width 250px
    top -100px


